<%= search_form_for @q, url:"/main/cts_search", class:"form-inline", remote:"true" do |f| %>
	<%=f.search_field :course_ch_name_cont%>
	<%=f.submit%>
<% end %>
<ul id="cts-list">
</ul>

<script type="text/x-tmpl" id="cts-res">
	<table class="table table-hover">
		<tr class="">
			<th>課程</th>
			<th>老師</th>
		</tr>
		{% for(var i=0,cts;cts=o[i];i++) { %}
			<tr class="clickable-hover" onclick="addCtid({%=cts.id%},'{%=cts.course_name%}','{%=cts.teacher_name%}');">
				<td>{%=cts.course_name%}</td>
				<td>{%=cts.teacher_name%}</td>
			</tr>
		{% } %}
	</table>
</script>

<script>
	function addCtid(id,course_name,teacher_name){
		$("#cts-list").append("<li>"+course_name+' '+teacher_name+"</li>");
	}
</script>