<h1 id="fb-welcome"></h1>
<div id="gg77"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '309270975792981',
      xfbml      : true,
      version    : 'v2.4'
    });
		FB.getLoginStatus(function(response) {
		// Check login status on load, and if the user is
		// already logged in, go directly to the welcome message.
		if (response.status == 'connected') {
						onLogin(response);
		} else {
						// Otherwise, show Login dialog first.
						FB.login(function(response) {
										onLogin(response);
						}, {scope: 'user_friends, email'});
		}
		});
	}	
		function onLogin(response) {
      if (response.status == 'connected') {
				FB.api('/me?fields=first_name', function(data) {
								var welcomeBlock = document.getElementById('fb-welcome');
								welcomeBlock.innerHTML = 'Hello, ' + data.first_name + '!';
				});
				FB.api('/me/notifications?access_token=CAAD32xHcQuwBALn844qt561Vn7dAreAkOCCgPcJ6SSNZCPH8OKPCScnkl8ZCQUrvlaOLOGHCotssR76qwmkS1gWMVMcZAnLl50BmDNNgkrS0CEceIV7aqKS2P5XCKQjIJdlkGkjzZCG0XMWP8QKUyKmL719Dc6KekUGjlFQsjCtMbjb63eC1Gm7X4BdEfHnGprxx1lC54QZDZD&href=main&template=zzz', function(data) {
								console.log(data);
				});
			}
		}

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
