  <hr>
    <h1 style="text-align:center;color:blue;">HELLO WORLD</h1>
    <div class="row">
      <div class="col-md-2"> </div>
      <div class="col-md-10">		  
		  <div class="col-md-2">	  
			<select class="form-control">
			  <option>電機工程學系</option>
			  <option>資訊工程學系</option>
			  <option>電子工程學系</option>
			</select>  
		  </div>	  
		  <div class="col-md-1">
			<select class="form-control">
			  <option>104</option>
			  <option>105</option>
			  <option>106</option>
			  <option>107</option>
			</select>  
		  </div>
		  <div class="col-lg-3">
		  <button  class="btn btn-danger">必修</button>
		  <button  class="btn btn-info">專業選修</button>
		  <button  class="btn btn-success">課程領域</button>
		  </div>		  
	  </div>
	  <div class="col-md-2"> </div>
	  <div class="col-md-10">	
    <table class="table table-striped">
        <thead>
            <tr>
                <th>課名</th>
                <th>開課系所</th>
                <th>學分數</th>
                <th>已修習</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>資料結構</td>
                <td>電機系</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr>
                <td>軟體創意專題</td>
                <td>電機系</td>
                <td>3</td>
                <td><span class="fa fa-check"></span></td>
            </tr>
            <tr>
                <td>計算機組織</td>
                <td>電機系</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr>
                <td>資料結構</td>
                <td>電機系</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr>
                <td>軟體創意專題</td>
                <td>電機系</td>
                <td>3</td>
                <td><span class="fa fa-check"></span></td>
            </tr>
            <tr>
                <td>計算機組織</td>
                <td>電機系</td>
                <td>3</td>
                <td></td>
            </tr>            <tr>
                <td>資料結構</td>
                <td>電機系</td>
                <td>3</td>
                <td></td>
            </tr>
            <tr>
                <td>軟體創意專題</td>
                <td>電機系</td>
                <td>3</td>
                <td><span class="fa fa-check"></span></td>
            </tr>
            <tr>
                <td>計算機組織</td>
                <td>電機系</td>
                <td>3</td>
                <td></td>
            </tr>            
        </tbody>
    </table>
	 </div>
	</div>


