</br>
<div class="row">
<div class="col-md-3 well">777</div>
<div class="col-md-6 well" id="middle">888</div>
<div class="col-md-3 well" id="tree"></div>
</div>

<%=javascript_include_tag "bootstrap-treeview"%>
<script>
$(document).ready(function(){

$.getJSON( "test.json?map_id=5", function(res){
	console.log('success');
	$('#tree').treeview({data: res});
	//$('#tree').treeview('activateNode', ['cf_id', 82]);
});

$('#tree').on('nodeSelected', function(event, node) {
	if(node.type==0)
   	 $('#middle').html(node.text+" "+node.cf_id);
    return false ;
});

});
</script>