<div class="container">
<div class="panel panel-default">
<div class="panel-body">
<h2>NCTU+團隊招募中</h2>
<hr>

<h4>
NCTU+是一個交大非官方的資訊組織，有鑑於目前校園系統仍有許多改善空間，<br>
我們從改寫校園系統開始，擴展出許多更便利、更友善且更美觀的服務。<br>
(參考: <a href="http://goo.gl/uWDOi7">致台大：搞車庫讓學生創業，還不如開放 API</a>)<br>
我們一方面向校方請求開放Data及API，另一方面聆聽同學們的需求並不斷發想新的點子，<br>
我們不僅純粹的coding，我們希望結合行銷、設計、工程等不同領域的人才，推出美觀、直覺、便利的服務。<br>
<br>
NCTU+創立已半年多，我們先從所有同學的需求－選課著手，蒐集了學校的課程資訊，<br>
以及轉錄了BS2上的選課版心得文章, 並設計模擬課表、考古題系統、計算通識學分等功能，<br>
在計算學分的部分受到了廣大的好評，所以我們進一步將之延伸，<br>
打造了「課程地圖」功能，一目瞭然即可看出同學們的修課狀況。
<br>
在機緣之下我們取得E3的同意，提供我們更完整的課程資訊以及E3帳號密碼認證等API，
<br>另外我們也爭取了與電機系合作的機會，協助電機系大四的學生學分預審的服務，<br>
未來可望將學分預審的流程完全自動化，同學們需要做的僅是將成績匯入至系統中即可。<br>
<br>
<strong>我們需要你/妳的加入，一起打造專屬交大人的系統!!</strong>
</h4>


<h3>
【報名期間：2015年 3月23日至4月5日 23:59止，將會陸續通知報名人的面談時間噢！】
</h3>
<h3>
【招募對象- 交大在校學生】
</h3>
<h3>
【招募成員】 
</h3>

<ul>
	<h4>
	<li><strong>Designer（強烈徵求！）</strong><br>
	特質：對於使用者經驗及繪圖有興趣者<br>
	職務：網頁呈現&排版、LOGO設計、繪圖<br>
	</li>
	<li>Programmer<br>
	特質：具Web或App之開發能力，有曾經開發專案的經驗者佳<br>
	職務：HTML/CSS/JS、Ruby on Rails、資料庫設計、架站及維護<br>
	</li>
	<li>Project Manager<br>
	特質：善於協調溝通，對各領域皆有涉獵，具相關活動籌辦、組織經營經驗者佳<br>
	職務：創新構思、粉專小編、文案宣傳、與行政單位及學生溝通<br>
	</li>
	</h4>
</ul>

<h3>
【成員福利】
</h3>

<ul>
	<h4>
	<li>參與開放校園專案，與各校相同理念者交流</li>
	<li>不定期舉行workshop，與伙伴們一起coding</li>
	<li>與各領域人才寶貴的合作經驗</li>
	<li>實質的網站呈現，一個直接可使用的服務是最好的履歷！</li>
	</h4>
</ul>
<h3>
【招募流程】
</h3>
<ul>
	<h4>
		<li>第一階段：線上填寫 <a href="http://goo.gl/K6cmkj">報名表</a></li>
		<li>第二階段：與NCTU+成員面談</li>
		<li>第三階段：通知結果</li>
	</h4>
</ul>
<h3>
【其他合作】
</h3>
<h4>
&nbsp;&nbsp;若有任何師長和單位有合作意願的話歡迎直接<a href="https://www.facebook.com/nctuplus">聯繫我們</a>！
</h4>
</div>
</div>
</div>