<script type="text/x-tmpl" id="new-form-format">

<%= form_for :data, url: "action_new", html:{:class=>"form-horizontal new-form"}, :remote=>true do |f|%>
	<input id="level" name="level" type="hidden" value="{%= o.level %}">
	<input id="parent_id" name="parent_id" type="hidden" value="{%= o.parent_id %}">
	
	<h4 class="form-header-name">
		{%= o.header_name %}
	</h4>
	<div class="row">
		<div class="col-md-2">
			<h4 class="text-right">名稱</h4>
		</div>

		<div class="col-md-2" >
		<select class="form-control" id="field_type" name="field_type">
		{% if (o.level==-3 || o.level==-1){ %}
			<option value="1">必修</option>
			<option value="2">X選Y</option>
		{% } %}	
		{% if(o.level==-1){ %}	
			<option value="3">領域群組</option>
		{% } %}	
			<option value="4">領域</option>
		</select>
		
		</div>
		<div class="col-md-5">
			<%= text_field_tag :name , '', class:"form-control"%>
		</div>					
		<div class="col-md-2">
			<%=submit_tag "送出", :class=>"form-control btn-info" %>
		</div>
	</div>		
	<hr>
<% end %>


</script>