<script type="text/x-tmpl" id="group-table-format">

{% var cg_info = o[o.length-1] ;%}
<div class="row list-header" cg_id="{%=cg_info.cg_id%}">
	<div class="col-md-2 col-md-offset-1">代表課程:</div>
	<div class="col-md-3 ">{%=cg_info.name%}</div>
	<div class="col-md-2">類型:</div>
	<div class="col-md-2">		
		{% var color = (cg_info.gtype==0) ? "warning" : "info" ;%}
		<button class="form-control btn-{%=color%} update-gtype" gtype="{%=cg_info.gtype%}" name="button" type="submit">
			{% if(cg_info.gtype==0){ %}
				代表
			{% }else{ %}
				抵免
			{% } %}
		</button>
	</div> 	
	<div class="col-md-1">
		<button type="button" class="btn btn-circle btn-danger delete-group">
			<%=fa_icon "trash-o"%>
		</button>
	</div> 
</div>
<hr>
<table class="table course-table">
	<thead>
		<tr class="row">
			<th class="col-md-3">課名</th>
			<th class="col-md-2">開課系所</th>
			<th class="col-md-2">永久課號</th>
			<th class="col-md-1">學分</th>
			<th class="col-md-3">動作</th>
		</tr>
	</thead>
	<tbody>
		{% if (o.length > 1){ %}
			{% for(var i=0 ; i<o.length-1 ; i++){ %}
				{% 
					var list = o[i] ; 
					var color = (list.leader) ? "success" : "" ;
				%}
				<tr class="row {%= color%}" list_id="{%= list.id%}">
					<td class="col-md-3">{%=list.course_name %}</td>
					<td class="col-md-2">{%=list.dep %}</td>
					<td class="col-md-2">{%=list.real_id %}</td>
					<td class="col-md-1">{%=list.credit %}</td>
					<td class="col-md-3">
					{% if(!list.leader){ %}
						<%=link_to "當代表課", "javascript:void(0);", :class=>"update-leader"%>
						<%=link_to "刪除", "javascript:void(0);", :class=>"course-delete"%>						
					{% } %}	
										
					</td>
				</tr>
			{% } %}	
		{% }else{ %}
	</tbody>	
		<tr class="row">
			<td colspan="3"><p class="text-right">嘗試從左側搜尋加入課程</p></td>
		</tr>
		{% } %}

</table>

</script>