<table class="table">
<tr><th>標題</th><th>學分數</th><th>功能</th></tr>
<% @course_groups.each do |cg| %>
  <tr>
  
  <td><%= link_to cg.title, course_group_path(cg) %></td>
  <td><%= cg.credit_needed %></td>

  <td>
    <%= link_to 'edit', edit_course_group_path(cg) %>
    <% link_to 'delete', course_group_path(cg), :method => :delete %>
  </td>
  <tr>
<% end %>
</table>


<%= link_to '新增', new_course_group_path %>