<div class="row">
	<div class="col-md-4 panel panel-primary ">
		<div class="panel-heading">
			<h4 class="text-center">
	
				課程查詢

			</h4>
		</div>
		<div class="panel-body">
			<div id="search-form" class="row schedule-search-bar">
			</div>
		</div>
	</div>
	<div class="col-md-6 ">
		<h1><%=@course_group.title%></h1>
		<% Semester.all.group(:year).order(:id).each do |year| %>
		<h3><%= year.year %>年後適用</h3>
		<% end %>
	</div>
</div>

<script>
	$("#search-form").load("/course_details/course_group?dept_id=<%=@course_group.department_id%>");
</script>