[project]
	description = NCTU+
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/t6847kimo
[access "refs/for/refs/*"]
	read = group user/t6847kimo
	push = group user/t6847kimo
	label-Code-Review = -2..+2 group user/t6847kimo
	label-Verified = -1..+1 group user/t6847kimo
	rebase = group user/t6847kimo
	removeReviewer = group user/t6847kimo
	submit = group user/t6847kimo
[access "refs/heads/*"]
	read = group user/t6847kimo
	create = group user/t6847kimo
	push = +force group user/t6847kimo
	pushMerge = group user/t6847kimo
[access "refs/tags/*"]
	push = +force group user/t6847kimo
	pushTag = group user/t6847kimo
	pushSignedTag = group user/t6847kimo
