<option value="" disabled>系所</option>
<option value="7">華語中心</option>
<option value="8">通識教育中心</option>
<option value="9">語言教學與研究中心</option>
<option value="10">師資培育中心</option>
<option value="11">交大遠距教學</option>
<option value="12">體育室</option>
<option value="13">軍訓室</option>
<option value="14">資訊技術服務中心</option>
<option value="15">圖書館</option>
<option value="16">普通物理教學小組</option>
<option value="17">微積分教學小組</option>
<option value="18">衛保組(健康與護理)</option>
<option value="20">教務處</option>
<option value="22">寫作中心</option>
<option value="24">服務學習中心</option>
<option value="25">計概小組</option>
<option value="26">課務組</option>
<option value="27">國際處</option>
<option value="28">台中一中科學班</option>
<option value="388">資訊學院共同課程</option>
<option value="389">電機學院共同課程</option>
<option value="390">管理學院共同課程</option>
<option value="391">電機學院與資訊學院共同課程</option>
