<option value="73">加速器光源科技與應用碩士學位學程</option>
<option value="74">聲音與音樂創意科技碩士學位學程</option>
<option value="75">電機資訊國際碩、博士學位學程</option>
<option value="76">光電系統研究所</option>
<option value="77">照明與能源光電研究所</option>
<option value="78">影像與生醫光電研究所</option>
<option value="79">電子研究所</option>
<option value="80">電控工程研究所</option>
<option value="81">電信工程研究所</option>
<option value="82">機械所</option>
<option value="83">顯示科技研究所</option>
<option value="84">土木所</option>
<option value="86">材料所</option>
<option value="87">環工所</option>
<option value="88">應用數學系數學建模與科學計算碩士班</option>
<option value="89">電物所</option>
<option value="90">應數所</option>
<option value="91">電機所</option>
<option value="92">光電所</option>
<option value="93">應化所</option>
<option value="94">統計學研究所</option>
<option value="95">物理研究所</option>
<option value="96">生科所</option>
<option value="97">分子醫學與生物工程研究所</option>
<option value="98">生醫工程研究所</option>
<option value="99">管科所</option>
<option value="100">運輸與物流管理學系交通運輸碩博士班</option>
<option value="101">(IEM工管所)工業工程與管理學系</option>
<option value="102">資訊管理與財務金融系資訊管理碩博士班</option>
<option value="103">科技管理研究所</option>
<option value="104">運輸與物流管理學系物流管理碩博士班</option>
<option value="105">經營管理研究所</option>
<option value="106">科法所</option>
<option value="107">資訊管理與財務金融系財務金融碩博士班</option>
<option value="108">傳播研究所</option>
<option value="109">應用藝術研究所</option>
<option value="110">外國語文學系外國文學與語言學碩士班</option>
<option value="111">音研所</option>
<option value="112">建築研究所</option>
<option value="113">教育研究所</option>
<option value="114">社會與文化研究所</option>
<option value="115">生物資訊及系統生物研究所</option>
<option value="116">材料科學與工程學系奈米科技碩博班</option>
<option value="117">族文所</option>
<option value="118">資科工所</option>
<option value="119">網工所</option>
<option value="120">多工所</option>
<option value="121">應用化學系分子科學碩博班</option>
<option value="122">英語教學研究所</option>
<option value="123">高階主管管理碩士學程</option>
<option value="124">管理學院碩士在職專班-管科組</option>
<option value="125">管理學院碩士在職專班-工管組</option>
<option value="126">管理學院碩士在職專班-資管組</option>
<option value="127">管理學院碩士在職專班-科管組</option>
<option value="128">工學院碩士在職專班-產安組</option>
<option value="129">電機學院碩士在職專班</option>
<option value="130">管理學院碩士在職專班-科法組</option>
<option value="131">工學院碩士在職專班-精密組</option>
<option value="132">工學院碩士在職專班-工程管理組</option>
<option value="133">管理學院碩士在職專班-物流組</option>
<option value="134">管理學院碩士在職專班-財金組</option>
<option value="135">理學院碩士在職專班</option>
<option value="136">管理學院碩士在職專班-經管組</option>
<option value="137">工學院碩士在職專班-半導體組</option>
<option value="138">工學院碩士在職專班-永續科技組</option>
<option value="139">客家社會與文化碩士在職專班</option>
<option value="140">資訊學院碩士在職專班</option>
<option value="141">光電科技碩士在職專班</option>
<option value="142">平面顯示技術碩士學位學程</option>
<option value="143">企業管理碩士學位學程</option>
<option value="144">資訊院資訊科技產業專班</option>
<option value="146">通訊與網路科技產業專班</option>
<option value="152">跨領域分子科學國際碩士學位學程</option>
<option value="153">亞際文化研究國際碩士學位學程</option>
<option value="157">工學院</option>
<option value="158">電機學院(研究所)</option>
<option value="160">管理學院</option>
<option value="161">管理學院專班(共同課程)</option>
<option value="162">光電學院</option>
<option value="165">理學院</option>
