<option selected="selected" value="14">103下</option>
<option value="13">103上</option>
<option value="12">102暑</option>
<option value="11">102下</option>
<option value="10">102上</option>
<option value="9">101暑</option>
<option value="8">101下</option>
<option value="7">101上</option>
<option value="6">100暑</option>
<option value="5">100下</option>
<option value="4">100上</option>
<option value="3">99暑</option>
<option value="2">99下</option>
<option value="1">99上</option>