<option value="260">奈米學士班</option>
<option value="261">理學院學士班</option>
<option value="262">電資學士班</option>
<option value="263">電工系</option>
<option value="266">機械系</option>
<option value="267">土木系</option>
<option value="268">資工系</option>
<option value="269">材料系</option>
<option value="270">電物系</option>
<option value="271">應數系</option>
<option value="272">電機系</option>
<option value="273">光電系</option>
<option value="274">應化系</option>
<option value="275">生科系</option>
<option value="276">管科系</option>
<option value="277">運管系</option>
<option value="278">工工系</option>
<option value="279">外文系</option>
<option value="280">資財系</option>
<option value="281">人社系</option>
<option value="282">傳科系</option>
<option value="284">人文社會學院</option>
<option value="285">生物科技學院</option>
<option value="286">資訊學院</option>
<option value="287">工學院</option>
<option value="288">電機學院(大學部)</option>
<option value="289">客家文化學院</option>
<option value="290">管理學院院本部</option>
<option value="292">理學院</option>
