<option value="" disabled>系所</option>
<option value="260">奈米學士班</option>
<option value="261">理學院學士班</option>
<option value="262">電資學士班</option>
<option value="263">電工系</option>
<option value="266">機械系</option>
<option value="267">土木系</option>
<option value="268">資工系</option>
<option value="269">材料系</option>
<option value="270">電物系</option>
<option value="271">應數系</option>
<option value="272">電機系</option>
<option value="273">光電系</option>
<option value="274">應化系</option>
<option value="275">生科系</option>
<option value="276">管科系</option>
<option value="277">運管系</option>
<option value="278">工工系</option>
<option value="279">外文系</option>
<option value="280">資財系</option>
<option value="281">人社系</option>
<option value="282">傳科系</option>
<option value="284">人文社會學院院本部</option>
<option value="285">生物科技學院</option>
<option value="286">資訊學院</option>
<option value="287">工學院</option>
<option value="288">電機學院(大學部)</option>
<option value="289">客家文化學院</option>
<option value="290">管理學院院本部</option>
<option value="292">理學院院本部</option>
<option value="293">高雄大學</option>
<option value="300">台東大學</option>
<option value="304">健行科技大學</option>
<option value="313">大同大學</option>
<option value="317">高雄師範大學</option>
<option value="324">台南大學</option>
<option value="327">台灣藝術大學</option>
<option value="333">長榮大學</option>
<option value="336">清華大學</option>
<option value="337">中央大學</option>
<option value="338">陽明大學</option>
<option value="339">新竹教育大學</option>
<option value="340">中華大學</option>
<option value="341">台灣大學</option>
<option value="342">政治大學</option>
<option value="343">台灣師範大學</option>
<option value="344">成功大學</option>
<option value="345">中山大學</option>
<option value="346">台北藝術大學</option>
<option value="347">台北大學</option>
<option value="349">中興大學</option>
<option value="350">彰化師範大學</option>
<option value="356">台北醫學大學</option>
<option value="357">淡江大學</option>
<option value="358">輔仁大學</option>
<option value="359">東吳大學</option>
<option value="362">世新大學</option>
<option value="365">元智大學</option>
<option value="366">中原大學</option>
<option value="367">玄奘大學</option>
<option value="368">逢甲大學</option>
<option value="370">東海大學</option>
<option value="375">台灣科技大學</option>
<option value="376">台北科技大學</option>
<option value="377">明新科技大學</option>
<option value="386">外國學校</option>