<script>
	function add_class(id,addordel,from){
		var this_row=$("#cd_"+id);
		var name=this_row.find(".course_name").text();
		var time=this_row.find(".course_time").text();
		if(time==""){//for 藝文賞析
			save_course(id,addordel);
			return;
		}
		var timearr=time.match(/[0-9][A-Z]+/g);
		var slot_ids=[];
		var conflict=false;
		for(var i = 0 ; i < timearr.length ; i++){
			var day=timearr[i][0];
			
			for(var j = 1 ; j < timearr[i].length ; j++){
				
				var row_id="#day_"+day+"_time_"+timearr[i][j];
				slot_ids.push(row_id);
				if(addordel=="add"&&$(row_id).text()!=""){
					$(row_id).removeClass("schedule-slot-empty");
					//$(row_id).addClass("danger");
					$(row_id).css("background-color","#FFCECD");
					conflict=true;
				}
			}
		}
		if(conflict){
			alert("衝堂囉!");
		}
		else{
			for(var i = 0 ; i < slot_ids.length;i++){
				if(addordel=="add"){
					$(slot_ids[i]).text(name);
					$(".danger").removeClass("danger");
				}
				else{
					$(slot_ids[i]).text("");
					$(slot_ids[i]).attr("class","schedule-slot-empty");
				}
			}
			save_course(id,addordel,from);
			if(addordel=="delete")
				this_row.remove();
		}
	}
	
	function save_course(cd_id,addordel,from){
		$.ajax({
			type: "GET",
			url: "/user/add_course",
			data: {
				cd_id: cd_id,
				type: addordel,
				from :from
			},
			success: function(data) {
				console.log(data);
				$("#schedule_div").load("/courses/get_user_courses?sem_id=<%=latest_semester.id%>&type=schd");
				if (from=="cart")
					$("#shopping_cart_courses").load("/courses/show_cart");
			}	
		});
	}
</script>	

<script type="text/x-tmpl" id="search_result">
	<table class="table table-hover courselist-hover " id="course_table" >
	{% var grouped=groupBy(o.courses,function(item){return item.cos_type;}); %}
	{% for (var i=0, courses; courses=grouped[i]; i++) { %}
		<tr class="row">
			<th class="{%=cos_type_class(courses[0].cos_type)%}">
				{%=courses[0].cos_type%}
			</th>
		</tr>
		{% for(var j=0,cd;cd=courses[j];j++){ %}
			<tr id="cd_{%=cd.id%}" class="row" >
				<td class="">
					<p>
						<a href="/courses/{%=cd.ct_id%}" class="course_name" target="_blank">
							{%= cd.course_name %}
						</a>
						{%= cd.dept_name %}
						{%= cd.teacher_name %}
						{% if(o.type=="search"){ %}
							<button class="btn btn-success btn-circle pull-right" onclick="add_class({%=cd.id%},'add','search')">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						{% }else if(o.type=="selected"){ %}
							<button class="btn btn-warning btn-circle pull-right" onclick="add_class({%=cd.id%},'delete','search')">
								<span class="glyphicon glyphicon-minus"></span>
							</button>
						{% } %}
					</p>
					<p class="text-right">
						{% if(cd.cos_type=="通識"||cd.cos_type=="外語"){ %}
							{%=cd.brief%} | 
						{% } else{ %}
							{%=cd.cos_type%} | 
						{% } %}
						年級: {%=cd.grade%} | 
						<strong class="course_time">{%= cd.time %}</strong>
						| <%=fa_icon "graduation-cap" %> <strong>{%= cd.credit %}</strong>
					</p>
				</td>
			</tr>
		{% } %}
	{% } %}
	
	{% if(o.courses.length==0){ %}
		<tr class="row"><td><h4>查無結果!</h4></td></tr>
	{% } %}
	</table>
</script>