<%=render 'common_js' %>

<div id="results" class="">
	<%= render 'results' %>
</div>

<script>
$(function(){
	$(".clickable-row").click(function() {
			window.document.location = $(this).attr("href");

	});
});
</script>