<%= stylesheet_link_tag 'newcomer/shopping' %>

<div class="row seven-header ">
	<div class="col-sm-10 col-sm-offset-1 banner-text">
		<h3>小七精美用品預購促銷</h3>
		<span class="seven-items"><br>高露潔牙刷牙膏組合、漱口杯、思波綺洗髮乳、多芬沐浴乳、
			7-S素面毛巾2入、精選臉盆、可伶可利洗面乳、洗衣籃、一匙靈洗衣粉、衣架2組、垃圾桶
			餐具組、鏡子、鏡子<br><br></span>
		<h3>預購驚喜價: 998</h3>
	</div>
</div>
<div class="row seven-spacing">
	<div class="col-sm-10 col-sm-offset-2 process">
		<ol class="progress-tracker">
			<li class="step"><span class="step-name">匯款或轉帳到 0061251-0158541 <br>（交通大學學生聯合會廖宣堯）</span></li>
			<li class="step"><span class="step-name">填寫帳號末5個號碼及<br>繳費時間等購買相關資訊。</span></li>
			<li class="step"><span class="step-name">2天內收取確認email</span></li>
			<li class="step"><span class="step-name">如果資料無誤<br>則訂購完成</span></li>
		</ol>
	</div>
</div>
<div class="row seven-spacing">
	<div class="col-sm-10 col-sm-offset-1 banner-text">
		<h3>領貨</h3>
		<ul class="get">
			<li>領貨日期： 9/3（星期六）：10:00～17:00、9/4（日）9/5（一）：13:00～17:00</li>
			<li>領貨地點： 竹轩、10舍、12舍學聯會攤位</li>
		</ul>
	</div>
</div>
<div class="row seven-spacing banner-text">

	<section class="buy-it-7-11">
		<h2>小七精美用品預購</h2>
		<a href="https://zhirui1.typeform.com/to/cAhbbV" target="_blank"><button class="btn-4">點我訂購</button></a>
	</section>
	<div class="row seven-spacing">
		<div class="col-sm-10 col-sm-offset-1">
			<h3>注意事項</h3>
			<ul class="important-note">
				<li>繳費期限：即日起至8/25（四）</li>
				<li>匯款至交通大學郵局(銀行代碼700)</li>
				<li>在繳費期限內將所需購買商品金額匯款或轉帳到 0061251-0158541 （交通大學學生聯合會廖宣堯）</li>
				<li>繳費後請務必到以上的標單填寫帳號末5個號碼及繳費時間等購買相關資訊。</li>
				<li>填寫完畢我們將會在2天內寄email與你確認資料。如未收到確認信請盡快聯絡我們</li>
				<li>如果有任何疑問，請私訊國立交通大學臉書粉絲專頁詢問</li>
				<li>本促銷只限於交大7-11門市</li>
				<li>有任何問題請洽詢交大7-11店長：035724785</li>
			</ul>
		</div>
	</div>
</div>

	<!-- source http://codepen.io/tuiaverde/pen/mngfi -->
