<div id="map" class="row" >
	<div class="col-md-10 col-md-push-1 col-xs-12 col-sm-12 ">
		<%#<img alt="交大地圖" src="/assets/map.svg" onerror="this.onerror=null; this.src='/assets/map.jpg'" />		%>
                <%= image_tag 'newcomer/map.svg', :alt => "交大地圖", id: "NCTUMAP" %>
        </div>
</div>
