<%= stylesheet_link_tag 'newcomer/procedure' %>

<section id="process">
	<div class="container-timeline">
		<div class="page-header">
			<h1 id="timeline">重要程序</h1>
		</div>
		<ul class="timeline">	
			<li id="timebox" class="timeline-inverted">
				<div class="timeline-badge danger"><i class="fa fa-money"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">09.02 － 14</h4>
					</div>
					<div class="timeline-body">
						<p>繳交學雜費</p>
					</div>
				</div>
			</li>

			<li id="timebox">
				<div class="timeline-badge primary"><i class="fa fa-building"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">09.03 － 04</h4>
					</div>
					<div class="timeline-body">
						<p>大一新生宿舍進住(8:00~17:00)</p>
					</div>
				</div>
			</li>
			<li id="timebox" >
				<div class="timeline-badge info"><i class="fa fa-inbox"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">申請D2帳號</h4>
					</div>
					<div class="timeline-body">
						<p>D2 信箱帳號是交大網路服務的必備帳號</p>
						<p>舉凡使用宿舍網路，連交大無線網路都需要他</p>
						<p>同時它也是交大給學生的專用信箱 ( @nctu.edu.tw )</p>
					</div>
				</div>
			</li>
			<li id="timebox" class="timeline-inverted">
				<div class="timeline-badge warning"><i class="fa fa-group"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">09.06 － 09</h4>
					</div>
					<div class="timeline-body">
						<p>新生入學輔導</p>
						<p>新生開學典禮及家長座談會</p>
						<p>弱勢助學措施說明會（09.06 晚上7：00）</p>
					</div>
				</div>
			</li>
			<li id="timebox" class="timeline-inverted">
				<div class="timeline-badge success"><i class="fa fa-calendar"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">開始選課</h4>
					</div>
					<div class="timeline-body">
						<p>什麼時候要選課阿？</p>
						<p>大一必修有哪些阿？ 要選哪些課阿？</p>
						<p>哪個老師教的比較好？</p>
						<p>NCTU+ 系統可以協助大家選課與排課，歡迎大家多多使用</p>
						<p>(註：NCTU+ 系統為選課輔助系統，正式選課請至選課系統網站進行選課)</p>
					</div>
				</div>
			</li>
			<li id="timebox" >
				<div class="timeline-badge danger"><i class="fa fa-bank"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">09.12</h4>
					</div>
					<div class="timeline-body">
						<p>開學上課</p>
						<p>註冊、申請抵免學分及外語榮</p>
						<p>譽學分抵免、大一免修基礎英</p>
						<p>文及英檢免試申請開始</p>
					</div>
				</div>
			</li>
			<li id="timebox" class="timeline-inverted">
				<div class="timeline-badge danger"><i class="fa fa-exclamation-triangle"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">09.14</h4>
					</div>
					<div class="timeline-body">
						<p>註冊截止</p>
					</div>
				</div>
			</li>



			<li id="timebox" class="timeline-inverted">
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">09.19</h4>
					</div>
					<div class="timeline-body">
						<p>申請外語榮譽學分抵免、大</p>
						<p>一免修基礎英文及英檢免試</p>
						<p>申請截止（中午12：00）</p>
					</div>
				</div>
			</li>
			<li id="timebox" >
				<div class="timeline-badge danger"><i class="fa fa-archive"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h4 class="timeline-title">09.23</h4>
					</div>
					<div class="timeline-body">
						<p>加選、退選、校際選修及申</p>
						<p>請抵免學分截止</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>
