<%= stylesheet_link_tag 'newcomer/qna' %> 

<div class="accordion">
<h1>新生提問系統 精選問答集</h1>
    <ul>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3>Q1：要帶什麼去學校？</h3>
        <p>
          1 衣褲／在架數支／床墊／棉被／枕頭<br>
          2 盤洗用具／法具／餐具／上觀用具<br>
          3 檯燈／網路線（分享器）／電腦／隨身碟<br>
          4 抹布／拖鞋／毆盆／衛生紙／小垃圾桶<br>
        </p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3>Q2：住宿舍有什麼要注意的嗎？</h3>
        <p>晚間12 點寢室會強制熄燈（段考週例外），但插座仍會供電，因此建議同學準偏檯燈﹔另外，部份宿舍沒有設置公用冰箱，若有需要可以與室友合購小冰箱哦！</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3>Q3：平常在學校大家都吃什麼？</h3>
        <p>基於價格和距離的限制，同學們平常主要還是以校內的學生餐廳為主，當然偶而空閒時也會去清大夜市或是新竹市區吃飯。</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3>Q4：生病的話要去哪裡就診？</h3>
        <p>學校附設有健康中心，位於行政大樓一樓。另外，離學校最近的醫院是位在校外光復路上的馬偕醫院，從校內可搭乘 2 路公車抵達，車程約 15 分鐘。</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3>Q5：我會需要用到什麼交通工具呢？</h3>
        <p>交大校內是禁行機車的！建議同學在校內可以選擇步行或騎乘腳踏車，去校外則可搭乘 2 路公車或科學園區巴士（小紅巴）﹔另外，依校規規定，大一新生不得申請機車證停入學校停車場啦！</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3>Q6：學校裡還有什麼設施呢？</h3>
        <p>校內對泳池分為室內及室外，室外不收費，室內則按次計費﹔健身耳有兩間，分別在體育館地下室及游泳池樓上﹔理髮部、美髮部、眼鏡部及洗衣部都位於活動中心地下室。</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3>Q7：可以寄包裹（網購）到宿舍嗎？</h3>
        <p>當然可以啦！地址填寫「新竹市大學路1001號 交通大學 xx舍 xxx房」，郵遞區號「30010」，就能順利送達囉！等收到領貨通知後再到宿舍管理員室收貨即可。</p>
      </li>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h3>Q8：我好喜歡學聯會辦的活動歐，要怎麼繳會費呢？</h3>
        <p>會費自105學年度開始，加入學校出納組的代收系統的行列，所以只要使用繳交註冊費、學雜費的相同方式就可以成功繳納歐~~很方便吧~~</p>
        <p>
          今年的繳費期限是8/31~9/13，只要在以下的網站，都可以下載到繳費單歐~~<br>
          1. 出納組學雜費查詢系統 <a href="https://tuition.nctu.edu.tw/cashier/" target="_blank">https://tuition.nctu.edu.tw/cashier/</a><br>
          2. 玉山銀行學雜費代收網站 <a href="https://easyfee.esunbank.com.tw/school/paycaweb/login.action" target="_blank">https://easyfee.esunbank.com.tw/school/paycaweb/login.action</a>
        </p>
        <p>下載到繳費單之後，可以依照單子上所標明的方式繳納。採用不同的繳納方式，你會需要自行負擔不同的手續費金額，請仔細閱讀所有的繳納方式之後，選擇最適合你的一種。如果閱讀完以上的文字之後，你仍然不太清楚到底要怎麼辦？或是說你有其他相關的疑問，請你趕緊聯繫學聯會粉絲專頁，或是寄電子信件 (stu.nctu@gmail.com) 給我們歐~~ 如果你不小心錯過上述期限，也可以在社團博覽會或是新生入住時，到學聯會攤位現場繳費！</p>
        <p><b>貼心小提醒：請勿多次、重複繳納會費，我們將無法保證能夠迅速退款給你。</b></p> 
      </li>
    </ul>
</div>
<section class="end-qna">
<h4>還有問題嗎？去新生提問平台發文吧，我們有專人為您解疑喔！</h4>
<a href="https://stunion.nctu.edu.tw/question" target="_blank"><button class="btn-1">提問平台</button></a>
</section>
<div class="spacing"></div>

