<%= stylesheet_link_tag 'newcomer/intro' %>

<section class="about-header intro">
	<h2>關於 | 交通大學學聯會</h2>
	<p>國立交通大學學生聯合會簡稱交大學聯會，我們在校內努力為</p>
	<p>同學爭取權益，除了定時舉辦實體活動如多項講座、演唱會，</p>
	<p>更有無形的權益如全台多達上百家的特約商店折扣等，是學校</p>
	<p>最具重要性的學生自治組織之一。</p>
</section>
<section class="about-header get">
	<h2>部會‧ 徵才</h2>
	<p>有抱負卻找不到地方發揮嗎?想要培養軟實力卻找不到一起努力的伙伴嗎?別在徬徨了!</p>
	<p>學聯會給你一個耀眼的機會</p>
	<p class="get-pos">徵才日期 <i class="fa fa-arrow-right"></i> 9/21、22</p>
</section>
<section class="intro-container activity-dept">
	<div class="skewrow row">
		<div class="skew-half skew-left ">
			<div class="skew-skewed">
				<div class="skew-content">
					<h3>活動 | 學聯會存在的證明</h3>
				</div>
			</div>
		</div>
		<div class="skew-half skew-right">
			<div class="skew-skewed">
				<div class="skew-content">
					<h3>工作內容：</h3>
					<p>舉辦校內大型活動、學習寫活動企劃，與
					行銷部、公關部密切合作。</p>
					<h3>需要的特質：</h3>
					<p>責任感、執行力強、有創意佳、邏輯統整
					能力好</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="intro-container pr-dept">
	<div class="skewrow row">
		<div class="skew-half skew-left col-sm-6 col-md-6 col-xs-6">
			<div class="skew-skewed">
				<div class="skew-content">
					<h3>福利 | 提升校園生活品質</h3>
				</div>
			</div>
		</div>
		<div class="skew-half skew-right col-sm-6 col-md-6 col-xs-6">
			<div class="skew-skewed">
				<div class="skew-content">
					<h3>工作內容：</h3>
					<p>收集交大人的校園問題，並協助改善以提升生活品質。</p>
					<h3>需要的特質：</h3>
					<p>責任感、認真，快速整理資訊</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="intro-container welfare-dept">
	<div class="skewrow row">
		<div class="skew-half skew-left col-sm-6 col-md-6 col-xs-6">
			<div class="skew-skewed">
				<div class="skew-content"><h3>公關 | 學聯會對外窗口</h3></div>
			</div>
		</div>
		<div class="skew-half skew-right col-sm-6 col-md-6 col-xs-6">
			<div class="skew-skewed">
				<div class="skew-content">
					<h3>工作內容：</h3>
					<p>拉贊助，與廠商建立合作關係、與其他學校學聯會建立友好關係。</p>
					<h3>需要的特質：</h3>
					<p>熱情耐心、喜歡與人打交道</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="intro-container it-dept">
	<div class="skewrow row">
		<div class="skew-half skew-left col-sm-6 col-md-6 col-xs-6">
			<div class="skew-skewed">
				<div class="skew-content"><h3>資訊 | 打造網路平台</h3></div>
			</div>
		</div>
		<div class="skew-half skew-right col-sm-6 col-md-6 col-xs-6">
			<div class="skew-skewed">
				<div class="skew-content">
					<h3>工作內容：</h3>
					<p>維護學聯會會網、建立超讚網站服務平台。</p>
					<h3>需要的特質：</h3>
					<p>擁有積極的自學能力，想學網頁設計、網站後端架設。</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="intro-container sales-dept">
	<div class="skewrow row">
		<div class="skew-half skew-left col-sm-6 col-md-6 col-xs-6">
			<div class="skew-skewed">
				<div class="skew-content"><h3>學術 | 提升校園學術風氣</h3></div>
			</div>
		</div>
		<div class="skew-half skew-right col-sm-6 col-md-6 col-xs-6">
			<div class="skew-skewed">
				<div class="skew-content">
					<h3>工作內容：</h3>
					<p>定期舉辦名人演講、教授專訪、籌劃新生抓馬盃戲劇比賽</p>
					<h3>需要的特質：</h3>
					<p>積極主動、責任感 、熱情耐心 、有創新力佳</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="intro-container technical-dept">
	<div class="skewrow row">
		<div class="skew-half skew-left col-sm-6 col-md-6 col-xs-6">
			<div class="skew-skewed">
				<div class="skew-content"><h3>行銷 | 學聯會的門面</h3></div>
			</div>
		</div>
		<div class="skew-half skew-right col-sm-6 col-md-6 col-xs-6">
			<div class="skew-skewed">
				<div class="skew-content">
					<h3>工作內容：</h3>
					<p>以圖宣設計、影片製作或微笑企劃，經營學聯會對外形象。</p>
					<h3>需要的特質：</h3>
					<p>喜歡或擅長平面設計、影片拍攝和企劃發想</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="intro-container finance-dept">
	<div class="skewrow row">
		<div class="skew-half skew-left col-sm-6 col-md-6 col-xs-6">
			<div class="skew-skewed">
				<div class="skew-content"><h3>財務 | 獨霸天下第一部</h3></div>
			</div>
		</div>
		<div class="skew-half skew-right col-sm-6 col-md-6 col-xs-6">
			<div class="skew-skewed">
				<div class="skew-content">
					<h3>工作內容：</h3>
					<p>開源節流、記帳報帳</p>
					<h3>需要的特質：</h3>
					<p>細心、不怕麻煩</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="intro-container secretary-dept">
	<div class="skewrow row">
		<div class="skew-half skew-left col-sm-6 col-md-6 col-xs-6">
			<div class="skew-skewed">
				<div class="skew-content"><h3>秘書 | 會內的溝通橋樑</h3></div>
			</div>
		</div>
		<div class="skew-half skew-right col-sm-6 col-md-6 col-xs-6">
			<div class="skew-skewed">
				<div class="skew-content">
					<h3>工作內容：</h3>
					<p>開會紀錄、舉辦學代選舉</p>
					<h3>需要的特質：</h3>
					<p>組織能力好</p>
				</div>
			</div>
		</div>
	</div>
</section>

<%= javascript_include_tag 'newcomer/intro' %>
