<% content_for :custom_assets do %>
  <%= stylesheet_link_tag "calendar" %>
  <%= javascript_include_tag "calendar/index", "data-turbolinks-track" => true %>
<% end %>

<div class="bg1 bg-blur"></div>

<body>
  <div class="row big-row">
    <div class="col-md-9 col-xs-12 calendar">
      <div class="row" id="cal-month">
        <div class="btn-month"><</div>
        <div class="sel-month">
          <h2>>.0   
          </h2>
        </div>
        <div class="btn-month">></div>
      </div>

      <div class="weekdays">
        <div class="wkday">星期日</div>
        <div class="wkday">星期一</div>
        <div class="wkday">星期二</div>
        <div class="wkday">星期三</div>
        <div class="wkday">星期四</div>
        <div class="wkday">星期五</div>
        <div class="wkday">星期六</div>
      </div>

      <div id="cal-date">
        <div class="week">
          <div class="date-box not-this-month">
            <div class="date">27</div>
            <div class="event rec-blue"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event rec-darkblue"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event rec-red"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
            <div class="event rec-yellow"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">28</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">29</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">30</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">1999</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">2</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">3</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
        </div>
        <div class="week">
          <div class="date-box">
            <div class="date">4</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">5</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">6</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">7</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">8</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">9</div>
          </div>
          <div class="date-box">
            <div class="date">10</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
        </div>
        <div class="week">
          <div class="date-box">
            <div class="date">11</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">12</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">13</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">14</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">15</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">16</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">17</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
        </div>
        <div class="week">
          <div class="date-box">
            <div class="date">18</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">19</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">20</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">21</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">22</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">23</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">24</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
        </div>
        <div class="week">
          <div class="date-box">
            <div class="date">25</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">26</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">27</div>
            <div class="event rec-blue"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event rec-darkblue"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event rec-red"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
            <div class="event rec-yellow"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">28</div>
            <div class="event rec-blue"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event rec-darkblue"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event rec-red"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
            <div class="event rec-yellow"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">29</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">30</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">31</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
        </div>
        <div class="week">
          <div class="date-box not-this-month">
            <div class="date">1</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">2</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">3</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">4</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">5</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">6</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">7</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">就改天</div>
            </div>
            <div class="event"><div class="rec"></div>
              <div class="content">我不喜歡別人在我面前放屁</div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="col-md-3 col-xs-12 infor-bar">
      <div class="btn-bar">
        <div class="bttn" id="btn-cale"><span class="glyphicon glyphicon-calendar"></span></div>
        <div class="bttn" id="btn-info"><span class="glyphicon glyphicon-info-sign"></span></div>
        <div class="bttn" id="btn-bell"><span class="glyphicon glyphicon-bell"></span></div>
      </div>


      <div class="tag-cale">
        <div class="today today-sel"><h2><%= Time.now.strftime("%-m月%-d日 %^a") %></h2></div>
        <div class="thing-cale"><div class="rec"></div><div class="content"><b>資料庫系統概論</b><br>
          <span class="glyphicon glyphicon-time"></span> 2017-05-23 - 23:59:59<br>
            HW4 - DB分組asdfsdfsdfaasdfasdf</div></div>
        <div class="thing-cale"><div class="rec"></div><div class="content"><b>資料庫系統概論</b><br>
          <span class="glyphicon glyphicon-time"></span> 2017-05-23 - 23:59:59<br>
            HW4 - DB分組sdfasdfasdfsdfasdfasdfasdf</div></div>
        <div class="thing-cale"><div class="rec"></div><div class="content"><b>資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論</b><br>
          <span class="glyphicon glyphicon-time"></span> 2017-05-23 - 23:59:59<br>
            HW4 - DB分組asdfasdfasdfadfdfdfdfdfdffffff資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論資料庫</div></div>
        <div class="thing-cale"><div class="rec"></div><div class="content"><b>資料庫系統概論asdf</b><br>
          <span class="glyphicon glyphicon-time"></span> 2017-05-23 - 23:59:59<br>
            HW4 - DB分組sadfasdfasdf</div></div>

      </div>
      <div class="tag-info">
        <div class="info-title">5/24 期中考地點與時間公告</div>
        <div class="info-time">網路通訊原理 - <span class="glyphicon glyphicon-time"></span> 2017-05-23 </div>
        <div class="info-content">各位同學好:

考試時間: 5/24(三) 10:10 ~ 12:00 

請學號為奇數的同學至ED B26 ，學號為偶數的同學至ED B27

請同學隔排坐，謝謝

助教 
          
        </div>

      </div>


      <div class="tag-bell">
        <div class="today"><h2><%= Time.now.strftime("%-m月%-d日 %^a") %></h2></div>
        
      </div>


    </div>
  </div>
</body>