<% content_for :custom_assets do %>
  <%= stylesheet_link_tag "calendar" %>
  <%= javascript_include_tag "calendar/index", "data-turbolinks-track" => true %>
<% end %>

<div class="bg1 bg-blur"></div>

<body>
  <div class="row big-row">
    <div class="col-md-9 col-xs-12 calendar">
      <div class="row" id="cal-month">
        <div class="btn-month" id="pre-month"><</div>
        <div class="sel-month">
          <h2>1月 1970</h2>
        </div>
        <div class="btn-month" id="next-month">></div>
      </div>

      <div class="weekdays">
        <div class="wkday">星期日</div>
        <div class="wkday">星期一</div>
        <div class="wkday">星期二</div>
        <div class="wkday">星期三</div>
        <div class="wkday">星期四</div>
        <div class="wkday">星期五</div>
        <div class="wkday">星期六</div>
      </div>

      <div id="cal-date">
        <div class="week">
          <div class="date-box not-this-month">
            <div class="date">27</div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">28</div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">29</div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">30</div>
          </div>
          <div class="date-box">
            <div class="date">1999</div>
          </div>
          <div class="date-box">
            <div class="date">2</div>
          </div>
          <div class="date-box">
            <div class="date">3</div>
          </div>
        </div>
        <div class="week">
          <div class="date-box">
            <div class="date">4</div>
          </div>
          <div class="date-box">
            <div class="date">5</div>
          </div>
          <div class="date-box">
            <div class="date">6</div>
            <div class="event"><div class="rec"></div>
              <div class="content">紐約來的Pizza博士</div>
            </div>
          </div>
          <div class="date-box">
            <div class="date">7</div>
          </div>
          <div class="date-box">
            <div class="date">8</div>
          </div>
          <div class="date-box">
            <div class="date">9</div>
          </div>
          <div class="date-box">
            <div class="date">10</div>
          </div>
        </div>
        <div class="week">
          <div class="date-box">
            <div class="date">11</div>
          </div>
          <div class="date-box">
            <div class="date">12</div>
          </div>
          <div class="date-box">
            <div class="date">13</div>
          </div>
          <div class="date-box">
            <div class="date">14</div>
          </div>
          <div class="date-box">
            <div class="date">15</div>
          </div>
          <div class="date-box">
            <div class="date">16</div>
          </div>
          <div class="date-box">
            <div class="date">17</div>
          </div>
        </div>
        <div class="week">
          <div class="date-box">
            <div class="date">18</div>
          </div>
          <div class="date-box">
            <div class="date">19</div>
          </div>
          <div class="date-box">
            <div class="date">20</div>
          </div>
          <div class="date-box">
            <div class="date">21</div>
          </div>
          <div class="date-box">
            <div class="date">22</div>
          </div>
          <div class="date-box">
            <div class="date">23</div>
          </div>
          <div class="date-box">
            <div class="date">24</div>
          </div>
        </div>
        <div class="week">
          <div class="date-box">
            <div class="date">25</div>
          </div>
          <div class="date-box">
            <div class="date">26</div>
          </div>
          <div class="date-box">
            <div class="date">27</div>
            
          </div>
          <div class="date-box">
            <div class="date">28</div>
            
          </div>
          <div class="date-box">
            <div class="date">29</div>
          </div>
          <div class="date-box">
            <div class="date">30</div>
          </div>
          <div class="date-box">
            <div class="date">31</div>
          </div>
        </div>
        <div class="week">
          <div class="date-box not-this-month">
            <div class="date">1</div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">2</div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">3</div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">4</div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">5</div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">6</div>
          </div>
          <div class="date-box not-this-month">
            <div class="date">7</div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="col-md-3 col-xs-12 infor-bar">
      <div class="btn-bar">
        <div class="bttn" id="btn-cale"><span class="glyphicon glyphicon-calendar"></span></div>
        <div class="bttn" id="btn-info"><span class="glyphicon glyphicon-info-sign"></span></div>
        <div class="bttn" id="btn-bell"><span class="glyphicon glyphicon-bell"></span></div>
      </div>


      <div class="tag-cale">
        <div class="today today-sel"><h2><%= Time.now.strftime("%-m月%-d日 %^a") %></h2></div>
        <div class="thing-cale"><div class="rec"></div><div class="content"><b>資料庫系統概論</b><br>
          <span class="glyphicon glyphicon-time"></span> 2017-05-23 - 23:59:59<br>
            HW4 - DB分組asdfsdfsdfaasdfasdf</div></div>
        <div class="thing-cale"><div class="rec"></div><div class="content"><b>資料庫系統概論</b><br>
          <span class="glyphicon glyphicon-time"></span> 2017-05-23 - 23:59:59<br>
            HW4 - DB分組sdfasdfasdfsdfasdfasdfasdf</div></div>
        <div class="thing-cale"><div class="rec"></div><div class="content"><b>資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論</b><br>
          <span class="glyphicon glyphicon-time"></span> 2017-05-23 - 23:59:59<br>
            HW4 - DB分組asdfasdfasdfadfdfdfdfdfdffffff資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論資料庫系統概論資料庫</div></div>
        <div class="thing-cale"><div class="rec"></div><div class="content"><b>資料庫系統概論asdf</b><br>
          <span class="glyphicon glyphicon-time"></span> 2017-05-23 - 23:59:59<br>
            HW4 - DB分組sadfasdfasdf</div></div>

      </div>
      <div class="tag-info">
        <div class="info-title">e3公告</div>
      </div>


      <div class="tag-bell">
        <div class="today"><h2><%= Time.now.strftime("%-m月%-d日 %^a") %></h2></div>
        
      </div>


    </div>
  </div>

  <ol id="joyRideTipContent">
    <li data-text="Next">
      <h2>Tips</h2>
      <p>
      請使用Enter鍵或滑鼠點擊灰色處觀看 
      </p>
    </li>
    <li data-id="pre-month" data-button="Next" data-options="tipLocation:bottom">
      <h4>上個月</h4>
      <p>按這個可以跳到上個月!</p>
    </li>
    <li data-id="next-month" data-button="Next" data-options="tipLocation:bottom">
      <h4>下個月</h4>
      <p>按這個可以跳到下個月!</p>
    </li>
    <li data-class="btn-bar" data-button="Next" data-options="tipLocation:bottom">
      <h4>資訊標籤</h4>
      <p>點擊不同的標籤可以觀看不同的事件資訊</p>
    </li>
    <li data-class="tag-bell" data-button="Next" data-options="tipLocation:left">
      <h4>近期活動提醒</h4>
      <p>在這裡可以看到最近的活動
        <br>還有<font color="yellow">作業Deadline</font>的倒數
        <br>不怕作業逾期忘了交!!
      </p>
    </li>
    <li data-id="btn-info" data-button="Next" data-options="tipLocation:bottom">
      <h4>e3公告</h4>
      <p>e3的最新公告也可以在這裡瀏覽囉!
        <br>不過在此僅提供公告標題，不提供內容
        <br>造成不便，十分抱歉!!
      </p>
    </li>
    <li data-class="box-today" data-button="Next" data-options="tipLocation:top">
      <h4>今天</h4>
      <p>預設此淡藍色框表示<font color="yellow">今天的日期</font></p>
    </li>
    <li data-id="btn-cale" data-button="Next" data-options="tipLocation:bottom">
      <h4>當日所有事件檢視</h4>
      <p>在左方月曆點擊一個日期就能觀看<font color="yellow">當日的所有事件</font>!</p>
    </li>

    <li data-text data-button="搶先使用!">
      <h4>行事曆Beta</h4>
      <p>目前尚在測試版本，
        <br>僅有<font color="yellow">e3公告</font>及<font color="yellow">作業死線</font>的提醒功能，
        <br>其他更方便的功能敬請期待!!
      </p>
    </li>
  </ol>


</body>