<div class="row" style="" id="ssaaas" >123123</div>
<script>
$(document).ready(function(){
	React.render(React.createElement(CourseMapEdit, null), document.getElementById("ssaaas"));

});

</script>