<%= javascript_include_tag "waypoints.min.js" %>
<%= javascript_include_tag "jquery.counterup.js" %>
<style>
.glyphicon{
	font-size: 0.77em;
}
.header{
	font-size: 0.5em;
	margin-top: 25px;
	margin-bottom: 25px;
}
.lead{
	font-size: 1.4em;
	margin-bottom: 18px;
}
.jumbotron{
	padding-top: 3em !important;
	padding-bottom: 2.2em !important;
}
.gpa1{
	text-align: center;
	padding-left: 2%;
}
.gpa2{
	text-align: center;
	padding-right: 2%;
}
.note{
	margin-top: 10px;
}
.sub_btn{
	text-align: right;
	margin-bottom: 15px;
}

.fb-like{
   overflow: hidden !important;
   margin-right: 7px;
}
 </style>

 <!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="container">
  <div class ="row">
	  <div class="col-sm-2"></div>
	  <div class="col-sm-8">
	  	  <h2 count-up end-val="873.4"></h2>
	  	  <div class="header"><h1><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;<b>GPA 計算機</b></h1></div>
		  <p class="lead">我們提供 Overall GPA、Last 60 Credits 的成績試算，想出國或撇一眼自己 GPA 的同學們不用再跑到中正堂列印或花時間手算，<u><b>試算前您必須確認將最新的成績匯入，可以到 <a href="/scores/import">這裡</a> 匯入。</u></b></p>

			<div class="row">
				<div class="gpa1 col-sm-6">
					<div style="background:#FAFAFA" class="jumbotron">
						<p><b>Overall 4.0</b><p>
						<p><span id="GPA40"class="counter" style = "font-size: 1.7em;">0</span></p>
					</div>
					<div style="background:#FAFAFA !important" class="jumbotron">
					    <p><b>Last 60 Credits 4.0</b><p>
                        <p>&nbsp;&nbsp;<span id="GPA40-last60"class="counter" style = "font-size: 1.7em;">0</span> (<span id="GPA40-last60-credit"class="counter">0</span>)</p>
					</div>
				</div>
				<div class="gpa2 col-sm-6">
					<div style="background:#FAFAFA" class="jumbotron">
					    <p><b>Overall 4.3</b><p>
						<p><span id="GPA43"class="counter" style = "font-size: 1.7em;">0</span></p>
					</div>
					<div style="background:#FAFAFA" class="jumbotron">
					    <p><b>Last 60 Credits 4.3</b><p>
 						<p>&nbsp;&nbsp;<span id="GPA43-last60"class="counter" style = "font-size: 1.7em;">0</span> (<span id="GPA43-last60-credit"class="counter">0</span>)</p>
					</div>
					
					<div class="sub_btn">
						<!--<b>幫我按個</b>
						<div class="fb-like" data-href="https://www.facebook.com/nctuplus/" data-layout="button_count" data-action="like"></div>-->
						<button type="button" class="btn btn-warning" onClick="window.location.reload()">重新載入</button>
					</div>
				</div>
			</div>
			<div class="note">
			<p>註：此計算參考 <%=link_to "等級制與百分制及GP對照表-交通大學", asset_path("nctu_gpa.jpg"), target:"blank"%> 與 <a href="http://intra.tpml.edu.tw/study/upload/downloads/GPA.htm" target="_blank"> 美國大學四點制的算法</a>，Last 60 Credits 採由後往前累積至大於等於 60 學分的學期之所有成績為止，也就是可能超過 60 學分 (呈現於括號內)，實際成績以學校成績單為準。</p>
			</div>
		</div>
		</div>
	    <div class="col-sm-2"></div>
	</div>
</body>

<script>
    let nctu43_table = [
        { 'up':100,'down':90, 'gpa_point':4.3, 'grade_letter':'A+' },
        { 'up':89, 'down':85, 'gpa_point':4.0, 'grade_letter':'A'  },
        { 'up':84, 'down':80, 'gpa_point':3.7, 'grade_letter':'A-' },
        { 'up':79, 'down':77, 'gpa_point':3.3, 'grade_letter':'B+' },
        { 'up':76, 'down':73, 'gpa_point':3.0, 'grade_letter':'B'  },
        { 'up':72, 'down':70, 'gpa_point':2.7, 'grade_letter':'B-' },
        { 'up':69, 'down':67, 'gpa_point':2.3, 'grade_letter':'C+' },
        { 'up':66, 'down':63, 'gpa_point':2.0, 'grade_letter':'C'  },
        { 'up':62, 'down':60, 'gpa_point':1.7, 'grade_letter':'C-' },
        { 'up':59, 'down':50, 'gpa_point':1.0, 'grade_letter':'D'  },
        { 'up':49, 'down':1,  'gpa_point':0.0, 'grade_letter':'E'  },
        { 'up':0,  'down':0,  'gpa_point':0.0, 'grade_letter':'X'  }
    ]
    let us40_table = [
        { 'up':100,'down':80, 'gpa_point':4.0, 'grade_letter':'A' },
        { 'up':79, 'down':70, 'gpa_point':3.0, 'grade_letter':'B'  },
        { 'up':69, 'down':60, 'gpa_point':2.0, 'grade_letter':'C' },
        { 'up':59, 'down':50, 'gpa_point':1.0, 'grade_letter':'D' },
        { 'up':49, 'down':0,  'gpa_point':0.0, 'grade_letter':'E'  },
    ]

    let calc_gpa = function(gpa_table, course_list){
        let total_grade = 0.0;
        let total_credit = 0;
        let cur_entry = null
        course_list.forEach( course =>{
            //console.log("credit: "+course.credit+", score: ",+course.score);
            gpa_table.forEach( entry =>{
                let score = Number(course.score);
                if( score <= entry.up && score >= entry.down ){
                    cur_entry = entry;
                }
            });
            total_grade += cur_entry.gpa_point * Number(course.credit);
            total_credit += Number(course.credit)
        })
        let gpa = total_grade/ total_credit;
        result = { 'gpa':gpa, 'credit':total_credit};
        return result
    }

    let calc_last60gpa = function(gpa_table, course_list){
        let total_grade = 0.0;
        let total_credit = 0;
        let cur_sem = 0;
        let end_sem = 0;
        let end = false;
        let cur_entry = null
        course_list.some( course =>{
            cur_sem = course.sem;
            if(end===true && cur_sem!=end_sem){
                return true;
            }
            
            gpa_table.forEach( entry =>{
                let score = Number(course.score);
                if( score <= entry.up && score >= entry.down ){
                    cur_entry = entry;
                }
            });
            total_grade += cur_entry.gpa_point * Number(course.credit);
            total_credit += Number(course.credit)
            if( total_credit >= 60){
                end_sem = cur_sem;
                end = true;
            }
        })
        let gpa = total_grade/ total_credit;
        result = { 'gpa':gpa, 'credit':total_credit};
        return result;
    }

    $.getJSON('/scores/get_courses', data =>{
        //console.log(data);

        let overall_40 = calc_gpa(us40_table, data).gpa.toFixed(2);
        let overall_43 = calc_gpa(nctu43_table, data).gpa.toFixed(2);

        result43_60 = calc_last60gpa(nctu43_table,data);
        result40_60 = calc_last60gpa(us40_table,data);

        $("#GPA40").html(overall_40);
        $("#GPA43").html(overall_43);

        $("#GPA40-last60").html(result40_60.gpa.toFixed(2));
        $("#GPA40-last60-credit").html(result40_60.credit);

        $("#GPA43-last60").html(result43_60.gpa.toFixed(2));
        $("#GPA43-last60-credit").html(result43_60.credit);

        //console.log("nctu43 GPA: "+ overall_43);
        //console.log("US40   GPA: "+ overall_40);
        //console.log("nctu43 last60  GPA: "+ result.gpa +", credit:"+result.credit);

        $('.counter').counterUp({
            delay: 25,
            time: 1100
        });
    });

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5&appId=1683611315250257";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

</script>

</html>
