<% @courses.each do |course| %>
  <li>
    <%= link_to course.eng_name, course_path(course) %>
    <%= link_to 'edit', edit_course_path(course) %>
    <%= button_to 'delete', course_path(course), :method => :delete %>
  </li>
<% end %>
</ul>

<%= link_to 'new course', new_course_path %>