<h1><%= @course.ch_name %>(<%= @course.eng_name %>)</h1>

<ul class="nav nav-tabs">
  <li class="active" id="post-link"><a href="#" onclick="show_item('posts');">Notes</a></li>
  <li class="" id="file-link"><a href="#" onclick="show_item('files');" >Files</a></li>
</ul>

<div id="posts_list">
	<%= render :partial=> "show_posts" %>
</div>
<div id="files_list" style="display:none;">
	<%= render :partial=> "show_files" %>
</div>

<script>
function show_panelbody(id){
	$(id).attr("class","panel-body");
}

function show_item(item){//change show files or notes

  if(item=="files"){
	$("#posts_list").hide();
	$("#post-link").attr("class","");
	$("#files_list").show();
	$("#file-link").attr("class","active");	
	show_post=0;
  }
  else if(item=="posts"){
	$("#posts_list").show();
	$("#post-link").attr("class","active");
	$("#files_list").hide();
	$("#file-link").attr("class","");
	show_post=1;
  }
  else{
	alert("Error Occurs!");
  }
}
</script>