<script type="text/x-tmpl" id="cm_public">
	
	{% var cm=o.course_map; %}
	<h3 id="title" style="line-height:160%">		
		<b>{%= o.dept_name %} 入學年度:
			<%=params[:year]%>
		</b>
		{% if(cm){ %}
			<b>畢業學分:{%=cm.total_credit%}</b>
			<button class="btn btn-info pull-right" onclick="showTip();">使用導覽</button>
		{% } %}
		<a href="http://aadm.nctu.edu.tw/chcourse/class03.aspx?ftype=3" class="pull-right btn btn-primary" target="_blank">
			<%=fa_icon "bookmark-o"%>必修科目表
		</a>
	</h3>
	<hr>	
	{% if(!cm){ %}
		<h4>目前尚無資訊，希望有心人士可以幫忙!!</h4>
	{% } else{ %}
		
		
		<div id="course-table" style="width:93%;">
			<h3>
				<strong>課程列表</strong>
				<div class="btn-group" style="margin-top:-2px;">
					<button id="sem-btn" class="btn btn-success" onclick="toggle_cf_table(false);">
						修課學期
					</button>
					<button id="cf-btn" class="btn btn-success" onclick="toggle_cf_table(true);">
						學程
					</button>				
				</div>
			</h3>

			<section id="list_by_cf">
				<button class="btn btn-default" type="show" onclick="toggleBtn($(this));">展開互抵課程</button>
				<table class="table table-striped" >
				{% 
					var allCourses=[];
					for(var i=0,cf;cf=cm.cfs[i];i++){
						var res=parseCfToCourse(cf);
						allCourses=allCourses.concat(res["courses"]);
						print(res["html"],true);
					}
				%}
				</table>
			</section>
			
		{% var coursesbyGrade=groupBy(allCourses,function(item){return item.suggest_sem;});%}

			{%  var colors=["#0080FF","#F00078","#F75000","#00AEAE","#5A5AAD","#FF9224","	#64A600","#804040","#9900FF","#CD5C5C","#BBBB00","#000000"];
					var color=0;
					var category = [];
					for(var i=0,cf;cf=cm.cfs[i];i++){
						if(cf.cf_type==3){
							for(var j=0,sub_cf;sub_cf=cf.child_cf[j];j++){
								category.push(sub_cf.cf_name);
								//console.log(sub_cf);
							}
						}
						else{
							category.push(cf.cf_name);
						}
					}
			%}
			<section id="list_by_sem" style="display:block;" >
				<div class="row" id="cf-title">			
				{% for(var i=0; i< category.length; i++){ %}
					<div class="col-md-4">
						<div class ="square-course clickable-hover" onclick="toggleCourseGrids('{%=category[i] %}');" style="background:{%=colors[i]%}"></div> <span class="clickable-hover" onclick="toggleCourseGrids('{%=category[i] %}');">{%=category[i] %}</span>
					</div>
				{% } %}
				</div>
				<table class="table">
					{% if(coursesbyGrade.length>1){ %}
					<tr class="text-center grade1" >
						<th class="text-center" colspan="2">一年級</th>
						<th class="text-center grade2" colspan="2">二年級</th>
						<th class="text-center grade2" colspan="2">三年級</th>
						<th class="text-center grade2" colspan="2">四年級</th>
					</tr>				
					<tr class="text-center semester1" >
						{% for(var i=0;i<4;i++){ %}
							{% if(i==0){ %}
								<th class="text-center semester1">上學期</th>
								<th class="text-center semester2" >下學期</th>
							{% }else{ %}
								<th class="text-center semester2" style="border-left:5px #fff solid">上學期</th>
								<th class="text-center semester2" >下學期</th>
							{% } %}
						{% } %}	
						</tr>	
						<tr>				
						{% 
							for(var i=0,courses;courses=coursesbyGrade[i];i++){ 
							if(i==8) continue;
						%}
							<td style="width:12%;"  {% if(i!=0 && i%2==0){ %}id="table-gray-line" {% } %} >
								{% for(var j=0,course;course=courses[j];j++){ %}
									{%
										for(var k=0; k< category.length; k++){
											if(course.cf.cf_name==category[k]||(course.parent_cf!=null&&course.parent_cf.cf_name==category[k]))
												color=colors[k];
										}										
									%}
									<div class="btn-course " style="background:{%=color%}" data-cf-name="{%= course.parent_cf==null ? course.cf.cf_name : course.parent_cf.cf_name %}" data="{%=JSON.stringify(course)%}" >{%=course.name%}</div>
								{% } %}
							</td>
						{% } %}
						</tr>
					{% } %}
					{% if(coursesbyGrade.length==9||coursesbyGrade.length==1){ %}
							<tr id="table-not-limit">
								<th colspan="8" class="text-center">不限年級</th>
							</tr>
							<tr>
							{%
								var courses = coursesbyGrade[coursesbyGrade.length-1];
								var len_not_limit = courses.length;
								var row = parseInt(len_not_limit/8);
								if( len_not_limit % 8 > 0 )row++;
								var row_left = row % 8;
							%}
								<td style="width:12%;">
								{%
									for(var j=0,course;course=courses[j];j++){
										//console.log(course);
										for(var k=0; k< category.length; k++){
											if(course.cf.cf_name==category[k]||(course.parent_cf!=null&&course.parent_cf.cf_name==category[k] ))
											color=colors[k];
										}
										if( j%row==0 && j>0){
											%}
											</td>
											<td style="width:12%;">
											<div class="btn-course" data-cf-name="{%= course.parent_cf==null ? course.cf.cf_name : course.parent_cf.cf_name %}" style="background:{%=color%}" data="{%=JSON.stringify(course)%}" >{%=course.name%}
											</div>
											{%
										}
										else{	%}
										<div class="btn-course" data-cf-name="{%= course.parent_cf==null ? course.cf.cf_name : course.parent_cf.cf_name %}" style="background:{%=color%}" data="{%=JSON.stringify(course)%}" >{%=course.name%}
									</div>
									
									{% }} %}
								</td>
							</tr>
						{% } %}
														
				</table>
			</section>
			<hr>
			<section id="rules">
				<h3><strong>修課規定</strong></h3>
				{% for(var i=0,cf;cf=cm.cfs[i];i++){ %}		
					{% print(parseCf(cf),true); %}		
				{% } %}
			</section>
		
			<hr>
			<section id="chart-content"></section>
			<section id="memo">	
				<h3><strong>備註</strong></h3>
				<h5 style="line-height:150%">
					{% if(cm.desc!="") %}
					{% print(cm.desc.replace(/(?:\r\n|\r|\n)/g, '<br />'),true); %}
				</h5>
			</section>
			
		</div>
	{% } %}	
	
</script>