<div class="container" align="center" style="margin-top: 100px;">
  <div class="form-grop">
    <%= f.text_field :description, class: "form-control", :placeholder => "換行請用<br>標籤" %>
  </div>
  <br>
  <div class="form-grop">
    <%= f.label :hidden_type, "是否隱藏" %>
    <%= f.check_box :hidden_type %>
  </div>
  <br>
</div>
