<%= form_for @slogan, :url => { :controller => 'slogan', :action => 'update' } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div align="center">
    <%= f.submit "更新", class: "btn btn-warning", :data => { :confirm => "確認要更新嗎？" } %>
    <%= link_to "返回", :back, class: "btn btn-primary" %>
  </div>
<% end %>
