<script type="text/x-tmpl" id="common_check">
{% var result=commonCheck(o); %}

<table class="table table-bordered "style="border:0px">
	<tr class="">
		<td rowspan="2" class="col-md-2" style="vertical-align:middle"><p class="text-center">服務學習</p></td>
		<td class="col-md-" colspan="3"><p class="text-center no-margin-bottom">一</p></td>
		<td class="col-md-" colspan="3"><p class="text-center no-margin-bottom">二</p></td>
	</tr>
	<tr class="">
		<td class="col-md-" colspan="3">
			{% if(result['service_1']){ %}
			<p class="text-center no-margin-bottom">
			{% print(green_check(),true); %}
			</p>
			{% } %}
		</td>
		<td class="col-md-" colspan="3">
			{% if(result['service_2']){ %}
				<p class="text-center no-margin-bottom">
				{% print(green_check(),true); %}
				</p>
			{% } %}
		</td>
	</tr>
	<tr class="">
		<td rowspan="2" class="col-md-2" style="vertical-align:middle"><p class="text-center">藝文賞析</p></td>
		<td class="col-md-" colspan="3"><p class="text-center no-margin-bottom">上</p></td>
		<td class="col-md-" colspan="3"><p class="text-center no-margin-bottom">下</p></td>
	</tr>
	<tr class="">
		<td class="col-md-" colspan="3">
			{% if(result['art_1']||result['art_after102']>=1){ %}
				<p class="text-center no-margin-bottom">
					{% print(green_check(),true); %}
				</p>
			{% } %}
		</td>
		<td class="col-md-" colspan="3">
                        {% if(result['art_2']||result['art_after102']>=2||(result['art_1']&&result['art_after102']>=1)){ %}
				<p class="text-center no-margin-bottom">
					{% print(green_check(),true); %}
				</p>
			{% } %}
		</td>
	</tr>
	<tr class="">
		<td rowspan="2" class="col-md-2" style="vertical-align:middle"><p class="text-center">體育</p></td>
		<td class="col-md-"><p class="text-center no-margin-bottom">大一</p></td>
		<td class="col-md-"><p class="text-center no-margin-bottom">大一</p></td>
		<td class="col-md-"><p class="text-center no-margin-bottom">選修</p></td>
		<td class="col-md-"><p class="text-center no-margin-bottom">選修</p></td>
		<td class="col-md-"><p class="text-center no-margin-bottom">選修</p></td>
		<td class="col-md-"><p class="text-center no-margin-bottom">選修</p></td>
	</tr>
	<tr class="">
	{% for (var i = 1 ; i <= 2 ; i++){ %}
		<td class="col-md-">
			{% if(i<=result['phe_1']){ %}
				<p class="text-center no-margin-bottom">
					{% print(green_check(),true); %}
				</p>
			{% } %}
			
		</td>
	{% } %}
	{% for (var i = 1 ; i <= 4 ; i++){ %}
		<td class="col-md-">
			{% if(i<=result['phe_optional']){ %}
				<p class="text-center no-margin-bottom">
					{% print(green_check(),true); %}
				</p>
			{% } %}
			
		</td>
	{% } %}
	</tr>
	<tr class="">
		<td class="col-md-2" >
			<p class="text-center ">外文</p>
		</td>
		<td colspan="6">
			<div class="progress no-margin-bottom">
				<div class="progress-bar progress-bar-success" style="width: {% print((result['foreign_basic']*66.7)/4); %}%">
					<span>基礎 <strong>{%=result['foreign_basic']%}/4</strong></span>
				</div>
				<div class="progress-bar" role="progressbar" style="width: 33.3%;">
					<span >進階(其他) <strong>{%=result['foreign_advance']%}/2</strong></span>
				</div>
			</div>
		</td>
	</tr>
	<tr class="">
		<td rowspan="3" style="vertical-align:middle">
			<p class="text-center no-margin-bottom" style="line-">通識</p>
		</td>
		{% var common_basic_credit=0; %}
		{% for(var dimension in result['common']){ %}
			<td class="">
				<p class="text-center no-margin-bottom">
					{% if(dimension=="通識"){ %}
						當代
					{% } else{ %}
						{% common_basic_credit+=result['common'][dimension]; %}
						{%=dimension %}
					{% } %}
				</p>
		{% } %}
	</tr>
	<tr class="">
		{% for(var dimension in result['common']){ %}
			<td class="col-md-" style="min-height:16px;">
				<p class="text-center no-margin-bottom" >
					{% if (result['common'][dimension]>0){ %}
						{% print(green_check(),true); %}
					{% } %}
				</p>
			</td>	
		{% } %}
	</tr>

	<tr class="">
		<td colspan="6">
			<div class="progress no-margin-bottom">
				<div class="progress-bar dimension-world" style="width: 20%;">		
					<span>當代 <strong>{%=result['common']['通識']%}/2</strong></span>
				</div>
				{% var progresswidth=common_basic_credit*100/18 - 20 > 80 ? 80 : common_basic_credit*100/18 - 20; %}
				<div class="progress-bar" role="progressbar" style="width: {%= progresswidth %}%;">		
					{% var spanclass=common_basic_credit==0?"sr-only":""; %}
					<span class="{%=spanclass%}">其他 <strong>{%= common_basic_credit %}/18</strong></span>
				</div>
			</div>
		</td>
	</tr>


	<tr class="">
		<td rowspan="5" style="vertical-align:middle">
			<p class="text-center no-margin-bottom" style="line-">新制通識</p>
		</td>
		
	</tr>

	<tr class="">
		<td colspan="6">
			<div class="progress no-margin-bottom">
				{% var progresswidth=  9  *100/22 > 80 ? 80 :   9  *100/22; %}
				<div class="progress-bar progress-bar-success" role="progressbar" style="width: {%= progresswidth %}%;">		
					{% var spanclass=  9  ==0?"sr-only":""; %}
					<span class="{%=spanclass%}">全部 <strong>{%=   9   %}/22</strong></span>
				</div>
			</div>
		</td>
	</tr>
	<tr class="">
		<td colspan="6">
			<div class="progress no-margin-bottom">
				{% var progresswidth=  2  *100/6 > 100 ? 100 :   2  *100/6; %}
				<div class="progress-bar" role="progressbar" style="width: {%= progresswidth %}%;">		
					{% var spanclass=  2  ==0?"sr-only":""; %}
					<span class="{%=spanclass%}">核心 <strong>{%=   2   %}/6</strong></span>
				</div>
			</div>

			<div class="progress no-margin-bottom">
				{% var progresswidth=  2  *100/6 > 100 ? 100 :   2  *100/6; %}
				<div class="progress-bar dimension-world" role="progressbar" style="width: {%= progresswidth %}%;">		
					{% var spanclass=  2  ==0?"sr-only":""; %}
					<span class="{%=spanclass%}"> 自然 <strong>{%=   2   %}/6</strong></span>
				</div>
			</div>
		</td>
	</tr>

	<tr class="">
		<td colspan="6">
			<div class="progress no-margin-bottom">
				{% var progresswidth=  4  *100/6 > 100 ? 100 :   4  *100/6; %}
				<div class="progress-bar" role="progressbar" style="width: {%= progresswidth %}%;">		
					{% var spanclass=  4  ==0?"sr-only":""; %}
					<span class="{%=spanclass%}">跨院 <strong>{%=   4   %}/6</strong></span>
				</div>
			</div>
		</td>
	</tr>
	<tr class="">
		<td colspan="6">
			<div class="progress no-margin-bottom">
				{% var progresswidth=  3  *100/6 > 100 ? 100 :   3  *100/6; %}
				<div class="progress-bar" role="progressbar" style="width: {%= progresswidth %}%;">		
					{% var spanclass=  3  ==0?"sr-only":""; %}
					<span class="{%=spanclass%}">校基本 <strong>{%=   3   %}/6</strong></span>
				</div>
			</div>
		</td>
	</tr>


</table>
<p>
註：外語學分目前不會計算第二外語及進修英文(因無法得知是否通過中高級初試)<br>
需請同學自行計算！
</p>
</script>
