<script>
	function select_cf(is_agreed,user_id,obj){
		$.ajax({
			type:"GET",
			url:"/user/select_cs_cf",
			data:{
				cs_id:obj.attr('id'),
				is_agreed:is_agreed,
				cf_id:obj.val()
			},
			success:function(){
				$.getJSON("/user/statistics?uid="+user_id, function (data) {
					$("#cosmap_check_div").html(tmpl("cosmap_check",data));
				});
				obj.parent().parent().append("<span id='' class='fader text-success'>選擇成功！</span>");
				$(".fader").fadeOut(3000,function(){
					$(this).remove();
					obj.parent().toggleClass("hidden");
				});
			},
			error:function(){
				alert("Error!");
			}
		});
	}
</script>

<script type="text/x-tmpl" id="cosmap_check">
{% var cm=o.course_map,user_courses=o.user_courses; %}
<table class="table table-bordered "style="border:0px">
	<tr class="row" >
		<td class="col-md-12" colspan="{%=cm.max_colspan+1%}">
			<h4 class="text-center">
				<a href="/course_maps/{%=cm.id%}" data-no-turbolink>
				{%=cm.name %} 
				</a>
				<% if @show_report %>
				<% if params[:uid].presence %>
					<a href="/user/statistics_table?user_id=<%=j params[:uid]%>" class="btn btn-info pull-right" target="blank">產生報表</a>
				<% else %>
					<a href="/user/statistics_table" class="btn btn-info pull-right" target="blank">產生報表</a>
				<% end %>
				
				<% end %>
			</h4>
		</td>
	</tr>
	{% var pass_courses=getPassCourses(checkPass,o.pass_score,user_courses); %}
	{% print(genCosMapCheckGrids(cm.cfs,pass_courses,cm.max_colspan),true); %}
	
</table>
<p>
註：計算錯誤可能原因如下 (1)系統缺少抵免/免修課程  (2)使用者未選擇該課所屬學程/領域
</p>
</script>
