<!--
<div class="" style="width:880px;height:440px;display:inline-block;overflow:hidden;">

<% #if @event.event_image %>
<%# image_tag @event.event_image.img.url,style:"width:100%;height:100%;"  %>

<% #end %>

</div>
-->
	

<div class="row col-md-offset-2">
	<h4>
		<%=@event.title%>
	</h4>
	<section id="content">
		<%=@event.content.html_safe%>
	</section>
</div>
