<script type="text/x-tmpl" id="search_result">
	<table class="table table-hover courselist-hover " id="course_table" >
	<button class="btn btn-primary" onclick="addAllCourses();">
		全部加入<span class="glyphicon glyphicon-plus"></span>
	</button>
	<span id="alert-msg" class="text-color-green"></span>
	{% var grouped=groupBy(o,function(item){return item.cos_type;}); %}
	{% for (var i=0, courses; courses=grouped[i]; i++) { %}
		<tr class="row">
			<th class="{%=cos_type_class(courses[0].cos_type)%}">
				{%=courses[0].cos_type%}
			</th>
		</tr>
		{% for(var j=0,course;course=courses[j];j++){ %}
			<tr id="{%=course.id%}" class="row course">
				<td class="">
					<p id="" class="text-left">
						<a href="/courses/{%=course.cd_id%}" class="course_name" target="_blank">{%=course.name%}</a> |
						<%=fa_icon "graduation-cap" %> <strong>{%=course.credit%}</strong>｜
						{%=course.dept_name%}
						<button class="btn btn-success btn-circle pull-right" onclick="addCourse([{%=course.id%}])">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</p>
				</td>
			</tr>
		{% } %}
	{% } %}
	
	{% if(o.length==0){ %}
		<tr class="row"><td><h4>查無結果!</h4></td></tr>
	{% } %}
	</table>
</script>