<table class="table table-striped">
<% @courses.each do |course| %>

<% course.file_info.each do |file| %>
<tr>
<td><%= file.name %></td>
<td><%=course.ch_name %></td>
<td><%=link_to "下載", files_download_path(:id=>file.id) %></td>

</tr>
<% end %>
<% end %>
</table>