<table class="table table-striped">
<tr><th>課名</th><th>檔名</th><th>檔案說明</th><th>大小</th><th>上傳時間</th><th>動作</th>
</tr>

<%= render :partial => "show_cell", :collection => @files, :as => :file, :locals=>{:type=>"no_user_name"} %>


</table>


