<%= javascript_include_tag "courses/past_exam", "data-turbolinks-track" => true %>
<div class="container bg-white">
	<div class="row">
		<div class="col-md-12 col-xs-12 col-sm-12 text-cente">
			<br>
			<h4>Step1.選擇適用課程 - <span class="text-center" id="ct-id" data=""></span></h4>
			<div class="row">
				<div class="col-md-6" id="cts-search-form"></div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12">
					<h4>Step2.上傳檔案及填寫說明</h4>
					<%=render "form" %>
				</div>
			</div>
		</div>
	</div>
</div>



<script>
	function selectCts(name,id){
		_selectCts(name,id);
		
		$(".fileupload-buttonbar").find(".disabled").removeClass("disabled");
		
		$('#fileupload').bind('fileuploadsubmit', function (e, data) {
			var inputs = data.context.find(':input');
			$('.upload_ct_id').val(id);
			$(".is_anonymous").val($("#is_anonymous_sel").val());
			data.formData = inputs.serializeArray();
	  });
		
		$.getJSON("/past_exams/list_by_ct?ct_id="+id, function (files) {
			$(".files").html("");
			var fu = $('#fileupload').data('blueimpFileupload'), 
				template;
			fu._adjustMaxNumberOfFiles(-files.length);
			template = fu._renderDownload(files)
				.appendTo($('#fileupload .files'));
			fu._reflow = fu._transition && template.length && template[0].offsetWidth;
			template.addClass('in');
			$('#loading').remove();
			for (var i=0, file; file=files[i]; i++) {
				$("td.semester_"+file.id+" select").val(file.semester_id);
			}
		});
		
	}
	$(function(){
		$("#cts-search-form").load("/search/cts?multi=false");
		$(".fileupload-buttonbar").find(".btn").addClass("disabled");
		$('#past_exam_upload').attr('name','past_exam[upload]');
	  $('#fileupload').fileupload();
    $('#fileupload').fileupload('option',{
		  acceptFileTypes : /(\.|\/)<%=PastExam.support_types%>$/i,
		  maxFileSize: <%=PastExam.max_upload_size%>
	  });
	  
		$('#fileupload').bind('fileuploadadd', function (e, data) {
				$(".no-files-yet").hide();
        var allFiles = $('#fileupload').find('.filename');
        $.each(allFiles, function(index, file) {
            var filename = file.innerHTML;
            $.each(data.files, function(index, file) {
                if(filename === file.name){
                    file.error = 'Duplicate filename';
                    return;
                }
            });
						
        });
    });
		$('#loading').remove();

	});
</script>	