<p>
	您所關注的活動: <%= @event.title %> 更新囉!
	請點<%=link_to "此連結","https://plus.nctu.edu.tw/events/#{@event.id}"%>觀看最新內容~<br>
	<br>
	--------------------------------<br>
	此為系統自動回傳信件請勿回復<br>
	<%=link_to "NCTU+","https://plus.nctu.edu.tw/"%> 交大智慧校園系統<br>
	Brilliant College Life
</p>
