// Variables
$navbar-bar-color:#272822;
$footer: #272822;
$navbar-color: #272822;
$navbar-color-2: #272853;
$primary: #272853;
$bottom-color-bar1:#F38181;
$bottom-color-bar2:#FCE38A;
$bottom-color-bar3:#95E1D3;
$bottom-color-bar4:#00b8f3;
