.cover {
    background: #181063; 
    min-width: 100%;
}

.course {
    background: #EFEFEF;
}

@media (min-width: 1024px) {
    .course {
        max-width: 800px;
}
}

.spacing {
    padding-top: 50px;
}

.group {
    background: #5A63FF;
    font-size: 24px;
    font-weight: bold;
    padding: 0.8em;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.step {
    display: block;
    margin-bottom: 25px;
}

.step .title-blk {
    background: #ADADAD;
    font-size: 18px;
    padding: 1.5em 0 0.3em 0;
    position: relative;
}
.step .num {

    background: -moz-linear-gradient(left,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.6) 71%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.6) 71%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.6) 71%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    display: inline-block;
    font-size: 22px;
    height: 100%;
    padding-left: 0.5em;
    padding-right: 1em;
    position: absolute;
    top: 0;
    left: 0 ;
    width: 3em;

}
.step .mid-fix {
    position: absolute;
    margin-top: -0.4em;
    top: 50%;
}
.step .text {
    color: #222; 
    display: inline-block;
    margin-left: 4em;
}
.step .content {
    color: #333;
    font-size: 14px;
    margin-left: 3%;
    margin-right: 3%;
    line-height: 30px;
}
