<script type="text/x-tmpl" id="list_by_cosmap">
{% var cm=o.course_map,user_courses=o.user_courses; %}
{% var cfname=[]; %}
<table class="table table-bordered" style="border:0px">
	{% var first_time=true; %} 
	{% for(var i = 0,course ;course=user_courses[i];i++){ %}
		{% if(course.cf_id==0){ %}
			{% if(first_time){ %}
				{% first_time=false; %}
				<tr class="row success" >
					<td class="col-md-12">
						其他
					</td>
				</tr>
			{% } %}
			<tr class="row" >
					<td class="col-md-12">
						<h4 class="text-left">
						{%=course.sem_name %} | 
						{%=course.name%} | 
						<%= fa_icon "graduation-cap", class:"credit-count" %> <strong>{%=course.credit==0 ? "0" : course.credit%}</strong> | 
						<%= fa_icon "flag-checkered"%> <strong>{%=course.score %}</strong>
						</h4>
					</td>
			</tr>
		{% }else{ %}
		{% var cfs=get_cf_list(cm.cfs,course);%}
		
		{% var tmp=cfs[0];%}
		{% if(tmp==null) continue; %}
		
		{% if(cfname.indexOf(tmp.name)==-1) { %}
			{% cfname.push(tmp.name); %}
			<tr class="row success" >
				<td class="col-md-12">
					{%=tmp.name%}
					
					{% if (tmp.credit_list_match){ %}
					<strong>{%=tmp.match_credit%}/{%=tmp.credit_list_match.credit_need%}</strong>
					{% } %}
				</td>
			</tr>
		{% } %}
			<tr class="row" >		
				<td class="col-md-12">
					<h4 class="text-left">
						{%=course.sem_name %} | 
						{%=course.name%} | 
						<%= fa_icon "graduation-cap", class:"credit-count" %> <strong>{%=course.credit==0 ? "0" : course.credit %}</strong> | 
						<%= fa_icon "flag-checkered"%>
						<strong>
						{% if(course.score=="") { %}
							<font color="red">缺(請重新匯入)</font>
						{% }else{ %}
							{%=course.score %}
						{% } %}
						
						</strong>
						{% if(cfs.length>1){ %} 
						<button class="btn btn-sm btn-default" onclick="$(this).next().toggleClass('hidden');">選擇學程</button>
						<div class="hidden" style="width:250px;display:inline-block;">
							<select id="{%=course.id%}" class="form-control" onchange="select_cf({%=course.sem_name=="抵免"%},{%=o.user_id%},$(this));">
							{% for(var j = 0,cf ;cf=cfs[j];j++){ %}
								<option value="{%=cf.id%}" {%= cf.id==course.cf_id ? "selected":""%}>{%=cf.name%}</option>
							{% } %}
							</select>
						</div>
					{% } %}
					</h4>
				</td>

			</tr>
		{% } %}
	{% } %}
	
</table>
</script>
