<script type="text/x-tmpl" id="sem_list">

{% var credits={}; %}
<table class="table table-bordered" id="by_cos_type">
	{% var grouped=groupBy(o.taked,function(item){return item.sem_name;}); %}
	
	{% for (var i=0, courses; courses=grouped[i]; i++) { %}
		
		{% var local_credits={};%}
		<tr class="row bg-fb">
			<th colspan="2" class="col-md-12">
				{%= courses[0].sem_name %}
			</th>
		</tr>
		
		{% for (var j=0, course; course=courses[j]; j++) { %}
			
			{% if(checkPassTaking(o.pass_score,course.score)) { %}
				{% if(local_credits[course.cos_type]){ %}
					{% local_credits[course.cos_type]+=parseInt(course.credit); %}
				{% }else{ %}
					{% local_credits[course.cos_type]=parseInt(course.credit); %}
				{% } %}
			{% } %}
			<tr class="row">
				<td class="col-md-12">
					<h4 class="text-center">
						{% if(!checkPassTaking(o.pass_score,course.score)) { %}
							{% if(course.score=="") %}
								[<font color="red">缺(請重新匯入)</font>]
							{% else if (course.score=="W")%}
								(<font color="gray">退</font>)
							{% else %}
								<%=image_tag asset_path("failed.png"),size:"70x30"%>							
						{% } %}
						<a href="/courses/{%=course.cd_id%}" target="blank">{%=course.name%}</a> | 
						{%=course.t_name%} | 
						<%= fa_icon "graduation-cap", class:"credit-count" %> <strong>{%=course.credit==0 ? "0" : course.credit%}</strong>
					</h4>
				</td>
			</tr>
			
		{% } %}
		<tr class="row success">
			<td colspan="2" >
				<h4 class="text-right">
					{% total=0; %}
					{% for (var value in local_credits){ %}
						{% total+=local_credits[value]; %}
						{%=value%} : <strong>{%=local_credits[value]%}</strong>
						{% if(credits[value]){ %}
							{% credits[value]+=local_credits[value]; %}
						{% } else{ %}
							{% credits[value]=local_credits[value]; %}
						{% } %}
					{% } %}
					共 <strong>{%=courses.length%}</strong> 門課
						<strong>{%=total%}</strong> 學分
				</h4>
			</td>
		</tr>
		
	{% } %}
	
	<tr class="row label-info">
		<td colspan="2" >
			<h4 class="text-right">
				歷年總和:
				{% total=0; %}
				{% for (var value in credits){ %}
					{% total+=credits[value]; %}
					{%=value%} : <strong>{%=credits[value]%}</strong>
				{% } %}
				共 <strong>{%=o.agreed.length+o.taked.length%}</strong> 門課
					<strong>{%=total%}</strong> 學分
			</h4>
		</td>
	</tr>

</table>
</script>
