<script type="text/x-tmpl" id="cosmap_showlist">
{% var cf=o; %}

<div class="modal-content" >
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 class="modal-title">
		[{%print(get_cf_type(cf.cf_type),true);%}]
		{%=cf.cf_name%}
		需要學分:
		{%=cf.credit_need%}
		
		</h4>
	</div>
	<table class="table" style="border:0px">
		{% if(cf.cf_type<3) { %}
			{% print(getCgList(cf.course_groups),true);%}
			{% print(getList(cf.courses,""),true);%}
		{% } %}
		
	</table>
</div>
</script>
<style>
	.testbg{
		background-color:#FFFFBB;
	}
</style>
<script>
	function removeCgLeadCourse(cg){
		var res=[];
		var headCourseId=cg.lead_course_id;
		for(var i = 0,course;course=cg.courses[i];i++){
			if(course.id==headCourseId)continue;
			res.push(course);
		}
		return res;
	}
	function getCgList(cgs){
		var res='';
		for(var i = 0,cg;cg=cgs[i];i++) {
			res+='<tr class="row" >';
			res+=printCourse(cg.lead_course);
			//res+=cg.lead_course_name;
			res+="</tr>"
			var CgChildCourses=removeCgLeadCourse(cg);
			res+=getList(CgChildCourses,"testbg");
		}
		return res;
	}
	function printCourse(course){
		var res='<td class="col-md-6">';
		res+="<a href='/courses/"+course.ct_id+"'>"+course.name+"</a></td>";
		res+='<td class="col-md-4">'+course.dept+"</td>";
		res+='<td class="col-md-2"><strong>'+course.credit+"</strong>";
		res+='</td>';
		return res;
	}
	function getList(courses,colorclass){
		var res='';
		for(var i = 0,course;course=courses[i];i++) {
			res+='<tr class="row '+colorclass+'" >';
			res+=printCourse(course)+'</tr>';
		}
		return res;
	}
</script>