<script type="text/x-tmpl" id="common_check">
{% var result=commonCheck(o.pass_score,o.last_sem_id,o.user_courses.success); %}

	
<table class="table table-bordered "style="border:0px">
	<tr class="row">
		<td rowspan="2" class="col-md-2" style="vertical-align:middle"><h4 class="text-center">服務學習</h4></td>
		<td class="col-md-" colspan="3"><p class="text-center no-margin-bottom">一</p></td>
		<td class="col-md-" colspan="3"><p class="text-center no-margin-bottom">二</p></td>
	</tr>
	<tr class="row">
		<td class="col-md-" colspan="3">
			{% if(result['service_1']){ %}
			<p class="text-center no-margin-bottom">
			{% print(green_check(),true); %}
			</p>
			{% } %}
		</td>
		<td class="col-md-" colspan="3">
			{% if(result['service_2']){ %}
				<p class="text-center no-margin-bottom">
				{% print(green_check(),true); %}
				</p>
			{% } %}
		</td>
	</tr>
	<tr class="row">
		<td rowspan="2" class="col-md-2" style="vertical-align:middle"><h4 class="text-center">藝文賞析</h4></td>
		<td class="col-md-" colspan="3"><p class="text-center no-margin-bottom">上</p></td>
		<td class="col-md-" colspan="3"><p class="text-center no-margin-bottom">下</p></td>
	</tr>
	<tr class="row">
		<td class="col-md-" colspan="3">
			{% if(result['art_1']||result['art_after102']>=1){ %}
				<p class="text-center no-margin-bottom">
					{% print(green_check(),true); %}
				</p>
			{% } %}
		</td>
		<td class="col-md-" colspan="3">
			{% if(result['art_2']||result['art_after102']>=2){ %}
				<p class="text-center no-margin-bottom">
					{% print(green_check(),true); %}
				</p>
			{% } %}
		</td>
	</tr>
	<tr class="row">
		<td rowspan="2" class="col-md-2" style="vertical-align:middle"><h4 class="text-center">體育</h4></td>
		<td class="col-md-"><p class="text-center no-margin-bottom">大一</p></td>
		<td class="col-md-"><p class="text-center no-margin-bottom">大一</p></td>
		<td class="col-md-"><p class="text-center no-margin-bottom">選修</p></td>
		<td class="col-md-"><p class="text-center no-margin-bottom">選修</p></td>
		<td class="col-md-"><p class="text-center no-margin-bottom">選修</p></td>
		<td class="col-md-"><p class="text-center no-margin-bottom">選修</p></td>
	</tr>
	<tr class="row">
	{% for (var i = 1 ; i <= 2 ; i++){ %}
		<td class="col-md-">
			{% if(i<=result['phe_1']){ %}
				<p class="text-center no-margin-bottom">
					{% print(green_check(),true); %}
				</p>
			{% } %}
			
		</td>
	{% } %}
	{% for (var i = 1 ; i <= 4 ; i++){ %}
		<td class="col-md-">
			{% if(i<=result['phe_optional']){ %}
				<p class="text-center no-margin-bottom">
					{% print(green_check(),true); %}
				</p>
			{% } %}
			
		</td>
	{% } %}
	</tr>
	<tr class="row">
		<td class="col-md-2" >
			<h4 class="text-center ">外文</h4>
		</td>
		<td colspan="6">
			<div class="progress no-margin-bottom">
				<div class="progress-bar progress-bar-success" style="width: {% print((result['foreign_basic']*66.7)/4); %}%">
					<span>基礎 <strong>{%=result['foreign_basic']%}/4</strong></span>
				</div>
				<div class="progress-bar" role="progressbar" style="width: 33.3%;">
					<span >進階(其他) <strong>{%=result['foreign_advance']%}/2</strong></span>
				</div>
			</div>
		</td>
	</tr>
	<tr class="row">
		<td rowspan="3" style="vertical-align:middle">
			<h4 class="text-center no-margin-bottom" style="line-">通識</h4>
		</td>
		{% var common_basic_credit=0; %}
		{% for(var dimension in result['common']){ %}
			<td class="{%=dimension_class(dimension)%}">
				<p class="text-center no-margin-bottom">
					{% if(dimension=="通識"){ %}
						當代
					{% } else{ %}
						{% common_basic_credit+=result['common'][dimension]; %}
						{%=dimension %}
					{% } %}
				</p>
		{% } %}
	</tr>
	<tr class="row">
		{% for(var dimension in result['common']){ %}
			<td class="col-md-" style="min-height:16px;">
				<p class="text-center no-margin-bottom" >
					{% if (result['common'][dimension]>0){ %}
						{% print(green_check(),true); %}
					{% } %}
				</p>
			</td>	
		{% } %}
	</tr>
	{% console.log(common_basic_credit); %}
	<tr class="row">
		<td colspan="6">
			<div class="progress no-margin-bottom">
				<div class="progress-bar dimension-world" style="width: 20%;">		
					<span>當代 <strong>{%=result['common']['通識']%}/2</strong></span>
				</div>
				{% var progresswidth=common_basic_credit*100/18 - 20 > 80 ? 80 : common_basic_credit*100/18 - 20; %}
				<div class="progress-bar" role="progressbar" style="width: {%= progresswidth %}%;">		
					{% var spanclass=common_basic_credit==0?"sr-only":""; %}
					<span class="{%=spanclass%}">其他 <strong>{%= common_basic_credit %}/18</strong></span>
				</div>
			</div>
		</td>
	</tr>
</table>
</script>