<script type="text/x-tmpl" id="cos_type_list">
{% var credits={}; %}

<table class="table" id="by_cos_type">
	{% var grouped=groupBy(o.taked,function(item){return item.cos_type;}); %}
	
	{% for (var i=0, courses; courses=grouped[i]; i++) { %}
		
		{% var local_credit=0;%}
		<tr class="row">
			<th colspan="3" class="{%=cos_type_class(courses[0].cos_type)%}">
				{%=courses[0].cos_type%}
			</th>
		</tr>

		{% for (var j=0, course; course=courses[j]; j++) { %}
			{% var pass_class=""; %}
			{% if(checkPassTaking(o.pass_score,course.score)) { %}
				{% local_credit+=parseInt(course.credit); %}
			{% } %}
			<tr class="row {%=pass_class%}">
				<td class="col-md-6">
					<h4 class="text-center">
						{% if(!checkPassTaking(o.pass_score,course.score)) { %}
							{% if(course.score=="") %}
								[<font color="red">缺(請重新匯入)</font>]
							{% else if (course.score=="W")%}
								(<font color="gray">退</font>)
							{% else %}
								<%=image_tag asset_path("failed.png"),size:"70x30"%>							
						{% } %}
						<a href="/courses/{%=course.cd_id%}" target="blank">{%=course.name%}</a> | 
							{%=course.t_name%} | 
						<%= fa_icon "graduation-cap", class:"credit-count" %> <strong>{%=course.credit==0 ? "0" : course.credit%}</strong>
					</h4>
				</td>
				<td class="col-md-6">
					<div class="container" style="display:inline-block;">		
						<a target="blank" href="/courses/{%=course.cd_id%}&first_show=files" class="btn btn-sm btn-default">考古題</a>
						<a target="blank" href="/courses/{%=course.cd_id%}&first_show=discuss" class="btn btn-sm btn-default">討論區</a>
					</div>
				</td>
			</tr>
		{% } %}
		{% if(credits[courses[0].cos_type]){ %}
			{% credits[courses[0].cos_type]+=local_credit; %}
		{% }else{ %}
			{% credits[courses[0].cos_type]=local_credit; %}
		{% } %}
	{% } %}
	<tr class="row label-info">
		<td colspan="2" >
			<h4 class="text-right">
				{% if(o.list_type=="all"){ %}
					歷年總和:
				{% }else if(o.list_type=="this_sem"){ %}
					本學期:
				{% } %}
				{% total=0; %}
				{% for (var value in credits){ %}
					{% total+=credits[value]; %}
					{%=value%} : <strong>{%=credits[value]%}</strong>
				{% } %}
				共 <strong>{%=o.agreed.length+o.taked.length%}</strong> 門課
					<strong>{%=total%}</strong> 學分
			</h4>
		</td>
	</tr>

</table>
</script>
