<div class="panel panel-primary" >
	<div class="panel-heading" >
		<h4 class="text-center">歷年課程</h4>
	</div>
	<br>
	<div class="panel-body" >
		<div id="agree-container" class="col-md-12"></div>
		<div id="course-container" class="col-md-12"></div>
	</div>
</div>

<script>
	$(document).ready(function(){
		$.getJSON("/user/get_courses?uid=<%=params[:uid]%>&type=list", function (data) {
			$("#agree-container").html(tmpl("agreed", data));
			$("#course-container").html(tmpl("sem_list", data));
		});
	});
</script>

<%=render :partial=>"xtmpl_agreed_check"%>
<%=render :partial=>"xtmpl_list_by_costype"%>
<%=render :partial=>"xtmpl_list_by_sem"%>

