<style>

</style>
<%=render "link_bar" %>
<div class="bg-white" id="course-list">
	<div class="row no-margin-left no-margin-right" id="course-list2" style="" >
	</div>
</div>
<br>
<script type="text/x-tmpl" id="course-list-tmpl">

{% var course_lists=groupBy2(o.user_courses,function(item){return item.sem_name.substring(0,item.sem_name.length-1);}); %}
{%console.log(course_lists);%}
{% 
	var current="";
	var credit_sum=0,credit_taked_sum=0,score_sum=0;
	
%}
{% for(var key in course_lists){ %}
	
	<div class="col-md-3 " style="display:inline-block;white-space:normal;vertical-align:top;//border:0px;">
		<h4 class="text-center">{%=key.replace(/"/g, "")%}</h4>
		<table class="table table-bordered border-thick-gray" >

			{% for(var j=0,course;course=course_lists[key][j];j++){ %}
				{% if(course.sem_name!=current) {
					credit_sum=0;
					credit_taked_sum=0;
					score_sum=0;
					current=course.sem_name; %}
					<tr><td colspan="3">{%=current%}</td></tr>
				{% } %}
				
				<tr>
					<td>{%=course.name%}</td>
					<td>{%=course.credit%}</td>
					{% if(withdrawal(course.score)||!checkPass(o.pass_score,course.score)){ %}
						<td style="color:red;">
					{% } else {
						if(isInt(course.score)){
							score_sum+=parseInt(course.score)*course.credit;
							credit_taked_sum+=course.credit;
						}
						credit_sum+=course.credit; %}
						<td>
					{% } %}
					<strong>{%=course.score%}</strong></td>
				</tr>
				{% if(j==course_lists[key].length-1 || course_lists[key][j+1].sem_name!=current){ %}
					<tr class="success">
						<td>共</td>
						<td>{%=credit_sum%}</td>
						<td>{%=roundToDec(score_sum/credit_taked_sum,2)%}</td>
					</tr>
				{% } %}
				<!--
				<tr>
					<td>{%=course.name%}|{%=course.credit%}|{%=course.score%}</td>
				</tr>
				-->
			{% } %}
		</table>
	</div>
{% } %}

</script>

<script>
	$(document).ready(function(){
		$.getJSON("/user/statistics?uid=<%=params[:uid] %>", function (data) {
			console.log(data);
			$("#course-list2").html(tmpl("course-list-tmpl",data));
		});
	});
</script>