<div class="well" style="background-color:white;"> 
  <h4 class="text-center"><%=@user.name%> <%=@semester.name%></h4> 
  <table class="table table-bordered" id="myCourseTable"></table>
</div>
<script>
  var $table = $('#myCourseTable') ;
  $.getJSON("/shares/<%=params[:id]%>",function(data){
			data.config = { popover: true };	
			$table.CourseTable(data);	
	});
</script>
<style>
  #myCourseTable{
    height: 800px; 
    width: 600px; 
    margin-left: auto; 
    margin-right: auto; 
  }
</style>
