<script>
	function show_form(obj){
		if ($("#user_form").is(':visible')) {
			$("#user_form").hide();
			$("#user_info").show();
			obj.text("修改系級");
		}
		else{
			$("#user_form").show();
			$("#user_info").hide();
			obj.text("隱藏");
		}
	}
</script>

<div class="tabbable tabs-top">
	<ul class="nav nav-tabs" style="/*margin-top:-15px;*/">
		<li class="active"><a href="#a" data-toggle="tab" >今年</a></li>
		<li><a href="#b" data-toggle="tab">統計</a></li>
	</ul>
	<br>
	<div class="tab-content" style="overflow:hidden;">
		<div class="tab-pane active" id="a">
			<%= render :partial =>"/user/this_semester" %>
			
		</div>
		<div class="tab-pane" id="b">
			<%= render :partial =>"/user/statics" %>
		</div>
	</div>
</div>