<style>
.grid-default { width: 104px ; height: 50px ;}
.text-family{ font-family: Geneva, Arial, Helvetica, san-serif,微軟正黑體; font-size: 14px;}
.text-center {
	text-align: center;
}
</style>
<html>
<head>
	<title class='title'>NCTU+</title>
	<%=javascript_include_tag asset_path("application.js")%>
	<%=javascript_include_tag asset_path("tmpl.min.js")%>
	<%= stylesheet_link_tag asset_path("application.css") %>
</head>
<div id="table">Loading...</div>
<hr>
</html>
<script type="text/x-tmpl" id="table-content">
{% var result = parse_course(o.course_map, o.user_courses, o.user_info);%}
{% var data = result.data;%}
{% console.log('result data:'); console.log(data); %}
{% console.log('match uni_id array:'); console.log(result.match); %}
<table class='table table-bordered text-family '>
	<tr>
		<td colspan="14" bgcolor="#A9F5BC"><p class="text-center">ㄧ. 本系所專業科目</p></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td><p class="text-center">科目名稱</p></td>
		<td>1上</td>
		<td>1下</td>
		<td>2上</td>
		<td>2下</td>
		<td>3上</td>
		<td>3下</td>
		<td>4上</td>
		<td>4下</td>
		<td>應修</td>
		<td>實得</td>
		<td><p class="text-center">備註</p></td>
	</tr>
{% for(var i=0, cf; cf=data[i]; ++i){ %}
	{% if(cf.cf_type<3){ %}
		{% for(var j=0, course; course=cf.cf_courses[j]; ++j){ %}
	<tr>
			{% if(j==0){ %}
			<td width="30px" rowspan="{%= cf.rowspan %}" colspan="2" >{%= cf.cf_name %}</td>
			{% } %}	
			<td>{%= course.name %}</td>
			{% for(var k=0; k<8; ++k){ %}
			<td>
				{% for(var m=0, c; c=course.cs[m]; m++){ %}
					{%=((c.sem==k) ? c.score : '' ) %}
				{% } %}	
			</td>
			{% } %}
			<td>{%=course.credit%}</td>
			<td>{%=((course.pass) ? course.credit : 0 )%}</td>
			<td>{%=course.note%}</td>
	</tr>
		{% } %}
	{% }else{ %}
		{% for(var jj=0, sub_cf; sub_cf=cf.sub_cf[jj]; jj++){ %}

		{% for(var j=0, course; course=sub_cf.cf_courses[j]; ++j){ %}
	<tr>	
			{% if(jj==0 && j==0){ %}
				<td width="15px" rowspan="{%= cf.rowspan %}">{%=cf.cf_name%}</td>
			{% } %}
			{% if(j==0){ %}
				<td width="15px" rowspan="{%= sub_cf.rowspan %}">{%= sub_cf.cf_name %}</td>
			{% } %}		
			<td>{%= course.name %}</td>
			{% for(var k=0; k<8; ++k){ %}
			<td>
				{% for(var m=0, c; c=course.cs[m]; m++){ %}
					{%=((c.sem==k) ? c.score : '' ) %}
				{% } %}	
			</td>
			{% } %}
			<td>{%=course.credit%}</td>
			<td>{%=((course.pass) ? course.credit : 0 )%}</td>
			<td>{%=course.note%}</td>
	</tr>
		{% } %}
		
		{% } %}
	{% } %}
{% } %}

{% o.user_courses = get_remains(o.user_courses, result.match); %}
{% var remains = o.user_courses.filter(function(e){ return e.degree!=0 ;}); %}


{% if(remains.length > 0 ){ %}
{% remains = remains.sort(function(a, b){ return ((a.degree < b.degree) ? -1 : ((a.degree > b.degree) ? 1 : 0));});%}
	<tr>
		<td colspan="14" bgcolor="#FAAC58"><p class="text-center">二. 其他選修科目(外系所選修)</p></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td><p class="text-center">科目名稱</p></td>
		<td>1上</td>
		<td>1下</td>
		<td>2上</td>
		<td>2下</td>
		<td>3上</td>
		<td>3下</td>
		<td>4上</td>
		<td>4下</td>
		<td>應修</td>
		<td>實得</td>
		<td><p class="text-center">備註</p></td>
	</tr>
	{% for(var i=0, r; r=remains[i]; ++i){ %}
		{% var course_info = check_course( r, o.user_info) ; %}
		<tr>
			<td colspan='2'></td>
			<td>{%=r.name%}</td>
		{% for(var j=0; j<8 ;++j){ %}	
			{% if(course_info.sem>=0 && j==course_info.sem){ %}
				<td>{%=course_info.score%}</td>
			{% }else{ %}	
				<td></td>
			{% } %}
		{% } %}
		<td>{%=r.credit%}</td>
		<td>{%=((course_info.pass) ? r.credit : 0 )%}</td>
		<td>{%=r.memo%}</td>
		</tr>
	{% } %}
{% } %}	

{% var others = o.user_courses.filter(function(e){ return e.degree==0 ;}); %}
{% others = others.sort(function(a, b){ return ((a.cos_type < b.cos_type) ? -1 : ((a.cos_type > b.cos_type) ? 1 : 0));});%}

{% if(others.length > 0 ){ %}
	<tr>
		<td colspan="14" bgcolor="#F4FA58"><p class="text-center">三. 校訂共同科目</p></td>
	</tr>
	<tr>
		<td colspan="2"></td>
		<td><p class="text-center">科目名稱</p></td>
		<td>1上</td>
		<td>1下</td>
		<td>2上</td>
		<td>2下</td>
		<td>3上</td>
		<td>3下</td>
		<td>4上</td>
		<td>4下</td>
		<td>應修</td>
		<td>實得</td>
		<td><p class="text-center">備註</p></td>
	</tr>
	{% for(var i=0, r; r=others[i]; ++i){ %}
		{% var course_info = check_course(r, o.user_info) ; %}
		<tr>
			<td colspan='2'></td>
			<td>{%=r.name%}</td>
		{% for(var j=0; j<8 ;++j){ %}	
			{% if(course_info.sem>=0 && j==course_info.sem){ %}
				<td>{%=course_info.score%}</td>
			{% }else{ %}	
				<td></td>	
			{% } %}
		{% } %}
		<td>{%=r.credit%}</td>
		<td>{%=((course_info.pass) ? r.credit : 0 )%}</td>
		<td>{%=r.memo%}</td>
		</tr>
	{% } %}
{% } %}
</table>

</script>

<script>

function get_remains(user_courses, matchs){
	var re = user_courses.filter(function(e1){
		return ($.grep(matchs, function(e2){return e2==e1.uni_id ;})==0);
	});
	
	return re ;
}

function check_course(user_course, user_info){ // course passORfail , check sem
	var pass_score = (user_info.degree==2) ? 70 :60 ;
	var pass = (user_course.score=='通過' || user_course.score >= pass_score) ? true : false ;	
	var note = '', sem=0 ; 
	//console.log(user_course.name);
	if((user_course.sem.year-user_info.sem_now.year)==0 && 
	   (user_course.sem.half-user_info.sem_now.half)==0) user_course.score = '修習中';
	
	if(user_course.sem.year==0 /* && user_course.memo.length>0*/){// 大學部或轉學帶課
		//console.log('[take] '+user_course.memo);
		note += user_course.memo ;
		sem = -1  ;
	}else if(user_info.sem.half==3){ // 暑修
		note += user_info.sem.year+'年暑修';
		sem = -1 ;
	}else{  // normal case
		var dy = user_course.sem.year - user_info.sem.year ;
		var dh = user_course.sem.half - user_info.sem.half ;
		sem = dy*2+dh ;	
	}	
	//console.log(user_course.score);
	return { score: user_course.score, pass: pass, sem: sem, note: note }	
}

function check_pass_and_group(cf, courses, data, user_info){
	var match = []; 
	for(var i=0, course; course=cf.courses[i];++i){
		var course_info= {name : course.name, cs:[], credit: course.credit, note:''} ;
		
		var search = $.grep(courses,  function(e){ return e.id == course.id; }) ;
		if(search.length > 0){
			//console.log(search);
			course_info['pass'] = 0 ;
			search.forEach(function(user_course) {
				match.push(user_course.uni_id);
				var res = check_course(user_course, user_info);
				course_info.cs.push(res) ;
				if(res.pass) course_info['pass'] += 1 ;
				course_info['note'] += res.note ;
			});
		}
		if (course_info.cs.length>0){
			data.cf_courses.push(course_info) ;	
		}		
	}
	for(var i=0, cg; cg=cf.course_groups[i];++i){
		var course_info= {name : cg.lead_course_name, cs:[], credit: cg.credit, note:''} ;
		course_info['pass'] = 0 ;
		for(var j=0, course; course=cg.courses[j] ; ++j){
			var search = $.grep(courses,  function(e){ return e.id == course.id; }) ;
			if(search.length > 0){				
				search.forEach(function(user_course) {	
					match.push(user_course.uni_id);
					var res = check_course(user_course, user_info);			
					if(cg.lead_course_id!=user_course.id)		//若不是leader就顯示note
						course_info['note'] += '['+user_course.name+'] ';
					course_info['note'] += res.note ;	
					course_info.cs.push(res) ;
					if(res.pass)
						course_info['pass'] += 1 ;
				});	
			}	
		}
		if(course_info['pass'] > 1 ) course_info['note'] += ' * 有兩門課被排在一起，請檢查排課或自行修改 ';
		if (course_info.cs.length>0)
			data.cf_courses.push(course_info) ;	
	}
				
	return {rowspan: data.cf_courses.length, match: match} ; 
	//return true ;//data ;
}

function parse_course(course_map, user_courses, user_info){
	var data = [] ;
	var match = [] ;
	for(var i=0, cf; cf = course_map[i];++i){
		var cf_data = {cf_name: cf.cf_name, sub_cf:[], cf_courses:[], cf_type: cf.cf_type, rowspan:0} ;
		
		if(cf.cf_type < 3){// bottom level
			var filter = user_courses.filter(function(x) { return (x.cf_id==cf.id); });
			var res = check_pass_and_group(cf, filter, cf_data, user_info);

			match = match.concat(res.match);
			cf_data['rowspan'] = res.rowspan;
		}else if(cf.cf_type==3){ //領域群組
			for(var j=0, sub_cf; sub_cf=cf.child_cf[j]; j++){ //領域
				var sub_data = {cf_name: sub_cf.cf_name, sub_cf:[], cf_courses:[], cf_type: sub_cf.cf_type, rowspan:0} ;

				for(var k=0, bottom; bottom=sub_cf.child_cf[k];++k){//bottom levels
					var filter = user_courses.filter(function(x) { return (x.cf_id==bottom.id); });
					var res = check_pass_and_group(bottom, filter, sub_data, user_info);
					match = match.concat(res.match);
					sub_data['rowspan'] += res.rowspan ;
				}
				cf_data['rowspan'] += sub_data['rowspan'] ;
	//			console.log(sub_cf.cf_name+' span: '+sub_data['rowspan']);
				if(sub_data['rowspan'] > 0)
					cf_data.sub_cf.push(sub_data);			
			}
		}else{ //cf_type == 4  領域
			for(var j=0, bottom; bottom=cf.child_cf[j]; j++){ // bottom level
				var filter = user_courses.filter(function(x) { return (x.cf_id==bottom.id); });
				var sub_data = {cf_name: bottom.cf_name, sub_cf:[], cf_courses:[], cf_type: bottom.cf_type, rowspan:0} ;
				var res = check_pass_and_group(bottom, filter, sub_data, user_info) ;
				match = match.concat(res.match);
				sub_data['rowspan'] = res.rowspan;
				cf_data.sub_cf.push(sub_data);
				cf_data['rowspan'] += sub_data.rowspan ;				
			}
		}
		//console.log(cf_data);
		data.push(cf_data);
	}
	
	return {data: data, match: match} ;
}	  

$(document).ready(function(){
<% if params[:user_id].presence %>
	$.getJSON( "/user/statistics_table.json?user_id=<%=j params[:user_id]%>",
<% else %>
	$.getJSON( "/user/statistics_table.json",
<% end %>
	function(res){
		if(!res.course_map){
			alert("沒有對應的學程");
			$('#table').html('請確認你的系別系級，或通知管理員建立一個新的學程地圖');
			return false ;
		}	
		if(res.user_info.student_id){
			$('.title').html(res.user_info.student_id+" "+res.user_info.map_name);
			$("#table").html(tmpl("table-content", res));	
		}else{
			alert('沒有學號資料');
			$('#table').html('請綁定e3帳號 謝謝');
			return false ;
		}
	});

});



</script>