<% if Comment.where(:course_teachership_id=>ct_id.to_i).count>0 %>
<table class="table ptt-style">
<%Comment.where(:course_teachership_id=>ct_id.to_i).each do |c|%>
	<tr>
		<td><p><b>
<span class="col-sm-9">		
<%if c.content_type==1%>
			<font class="text-color-white">推</font> 
<%elsif c.content_type==2%>
			<font class="text-color-red">→</font> 
<%else%>
			<font class="text-color-red">噓</font> 
<%end%>
			<font class="text-color-yellow"><%=User.find(c.user_id).name%></font> : <%=c.content%>
</span>
<span class="col-sm-3">			
			<span class="text-right"><%=c.created_at.strftime('%Y/%m/%d %H:%S')%></span>
</span>			
		</p></td>
	</tr>			
<%end%>	
</table>
<%else%>
<p class="text-center"><strong>尚無討論</strong></p>

<%end%>