<table class="table table-bordered background-color-ptt">
<%Comment.where(:course_teachership_id=>ct_id.to_i).each do |c|%>
	<tr>
		<td>
<%if c.content_type==1%>
			<font class="text-color-green">推</font> 
<%elsif c.content_type==2%>
			<font class="text-color-yellow">→</font> 
<%else%>
			<font class="text-color-red">噓</font> 
<%end%>
			<%=User.find(c.user_id).name%>		:	<%=c.content%>
		</td>
	</tr>			
<%end%>	
</table>