<div class="row">
考試月份：   		
		<div class="btn-group">
<%for i in 1..18 do%>		
        <button type="button" class="btn" onclick="changeColor($(this), 'danger', 'test_num');">
        	<span class="col-md-1"><%=i.to_s%></span>
        </button>
<%end%>        	
        	
      	</div>    	
</div>
<div class="row">
作業月份：</br>   		
		<div class="btn-group">
<%for i in 1..18 do%>		
        <button type="button" class="btn" onclick="changeColor($(this), 'warning', 'test_num');">
        	<span class="col-md-1"><%=i.to_s%></span>
        </button>
<%end%>      	       	
      	</div>    	
</div> 
