


<!--
<% if current_user && current_user.activated==0 %>
<div class="row" >
	<div class="col-sm-4 col-sm-offset-3">
		<% render "/user/registry" %>
	</div>
</div>

<% end %>
-->

<div class="form-horizotal"  ><!--role="form"-->
	<div class="row schedule-search-bar" >
		<input type="hidden" id="semester_id" value="<%=@sem_id%>" >
		<div class="form-group">
			<div class="input-group">
				<div class="cleaninput" onclick='clean_input($(this))'><%=fa_icon "times"%></div>
				<input type="text" class="form-control" id="degree_select" placeholder="大學部/研究所/通識" ><!--readonly-->
				<input type="hidden" id="degree_id" value="" >
	      <div class="input-group-btn">
					<button type="button" class="btn btn-default " id="department" onclick="select_thing('degree')">
						<span class="caret"></span>
					</button>

				</div>	<!-- /btn-group -->
			</div>	<!-- /input-group --> 
		</div>	<!-- /form-group -->
	</div>
	<div class="row schedule-search-bar">
	  <div class="form-group ">
			<div class="input-group">
				<!--<span class="input-group-addon">
					<input type="checkbox" id="department_check">
				</span>-->
				<div class="cleaninput" onclick='clean_input($(this))'><%=fa_icon "times"%></div>
				<input type="text" class="form-control" id="department_select" placeholder="選擇系所..." >
				<input type="hidden" id="department_id" value="" >
	      <div class="input-group-btn">
					<button type="button" class="btn btn-default" id="department" onclick="select_thing('department')">
						<span class="caret"></span>
					</button>
				</div>	<!-- /btn-group -->
			</div>	<!-- /input-group --> 
		</div>	<!-- /form-group -->
	</div>
	<div class="row schedule-search-bar">
		<div class="form-group ">
			<div class="input-group">
				<div class="cleaninput" onclick='clean_input($(this))'><%=fa_icon "times"%></div>
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="search_action">課名 <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0);" onclick="change_search_type($(this))" id="course_name">課名</a></li>
						<li><a href="javascript:void(0);" onclick="change_search_type($(this))" id="course_time">時間</a></li>
						<!--<li><a href="#" onclick="change_action($(this))" id="course_teacher">老師</a></li>-->
					</ul>
				</div><!-- /btn-group -->
				<input type="hidden" id="search_type" value="course_name">
				<input type="text" class="form-control" id="search_term" placeholder="Search..." >
				<span class="input-group-btn"><!--type="submit"-->
					<button class="btn btn-default" onclick="search_keyword()"><span class="glyphicon glyphicon-search"></span></button>
				</span>
			</div><!-- /input-group -->
		</div>

	</div><!-- /row -->
	
	
</div>


<div id="search_result" class="scrollable">
</div>



