<div class="row">
<%if @page%>

考試週：（該週可能有考試）    		
		<div class="btn-group">
	
<%for i in 1..18 do%>		
	<%if 2**(i-1) & @page.exam_record !=0 %>
        <button type="button" class="btn active btn-danger" >
    <% else %>
        <button type="button" class="btn btn-default" >
    <% end %>
        	<span><%=i.to_s%></span>
        </button> 
<%end%>        	 	
      	</div>    	
</br>
作業週：（該週可能有作業）  	
		<div class="btn-group">
	
<%for i in 1..18 do%>	
	<%if 2**(i-1) & @page.homework_record !=0 %>
		<button type="button" class="btn active btn-warning" >
    <% else %>
       	<button type="button" class="btn btn-default" >
    <% end %>   	
        	<span><%=i.to_s%></span>
        </button>         
<%end%>      	       	
      	</div> 
      	    	   
<hr>
<div class="well">
	<% @page.course_note.split("\n").each do |str|%>
		<p><%=str%></p>      	
	<%end%>      	
</div>      	
      	
      	
      	
<% else %>
	<p class="text-center"><strong>尚無資料</strong></p>	
		
<% end %>		
</div> 
