<%@cds.each do |cd| %>
<h4><%=cd.course_ch_name%>－王從恕</h4>
<%=link_to "課程綱要","https://course.nctu.edu.tw/Course/CrsOutline/show.asp?Acy=103&Sem=2&CrsNo=6161",target:"_blank"%>
<br>

<%=fa_icon "book" %>通識/必修
年級<%=fa_icon "book" %>
<br>
by 搜尋結果
<hr>
<% end %>