<br>
<div class="row " id="add_sem_form">
	<div class="form-inline col-md-offset-5">
		<div class="form-group">
			<% sems=Semester.where("id not in (?)",@user_sem_ids).reverse %>
			
			<%= select_tag(:sem_id, options_from_collection_for_select(sems,:id,:name), :class=>"form-control") %>		
		</div>
		<button class="btn btn-primary" onclick="add_semester()">新增</button>
	</div>
</div>