<h2 style="border-bottom:solid 1px;">教授比一比</h2>
<div id="copare_container"></div>
<script>
	$(document).ready(function(){
		var ctCopare=<%=@ct_compare_json.to_json.html_safe%>;
		var userCtRated=<%=@user_rated_json.to_json.html_safe%>;
		$("#copare_container").html(tmpl("compare_tmpl",ctCopare));

		for(var i=0,ct,userRated;ct=ctCopare[i],userRated=userCtRated[i];i++){

			gen_raty(ct.id,"cold",ct.cold.avg_score,userRated.cold); 
			gen_raty(ct.id,"sweety",ct.sweety.avg_score,userRated.sweety); 
			gen_raty(ct.id,"hardness",ct.hardness.avg_score,userRated.hardness); 
		}
	});
	function gen_raty(ct_id,r_type,show_score,rated){
		$("#rating_"+r_type+'_'+ct_id).raty({
			score:show_score,
			readOnly :<%=current_user.nil? ||!current_user.uid %>,
			cancel :rated,
			cancelOff : 'cancel-custom-off.png',
			cancelOn  : 'cancel-custom-on.png',
			noRatedMsg : "請先登入!",
			cancelHint : '取消評分',
			click: function(score, evt) {
				//alert($(this).raty('cancel'));
				if((rated&&score==null)||!rated)
					rate_course(ct_id,r_type,score);
			}
		});
	}

	function printScore(text,id,r_type,obj){
		var res='<div class="row"><div class="col-sm-3 col-sm-offset-1 row-condensed">';
			res+='<label>'+text+'</label>';
			res+='</div><div class="col-sm-5 row-condensed">';
			res+='<div id="rating_'+r_type+'_'+id+'"></div>';
			res+='</div>';
			res+='<div class="col-sm-1" id="rating_'+r_type+'_'+id+'_counts">';
			res+='<label>'+obj.avg_score+'('+obj.rate_count+')<label>';
			res+="</div></div>";
		return res;
	}
	<% if current_user.try(:uid)  %>
	function rate_course(ct_id,r_type,score){
		
		$.ajax({
			type: "GET",
			url: "/course_content/rate_cts",
			dataType :"json",
			data: {
				ct_id: ct_id,
				r_type: r_type,
				score: score,   
			},
			success: function(data){
				var d=data;//JSON.parse(data);
				
				var new_count="<label>"+d.avg_score+"("+d.rate_count+")</label>";
				$("#rating_"+r_type+'_'+ct_id+"_counts").html(new_count);
				$("#rating_"+r_type+'_'+ct_id).raty('set',{
					cancel: d.avg_score!=0,
					score:d.avg_score,
					click: function(score, evt) {
						//alert($(this).raty('cancel'));
						if((d.avg_score!=0&&score==null)||(d.avg_score==0&&score))
							rate_course(ct_id,r_type,score);
					}
				});
				
			},
		});
	}
	<% end %>
</script>

<script type="text/x-tmpl" id="compare_tmpl">
	{% var i=0,ct; %}
	{% for(;ct=o[i];){ %}
		{% if(i%3==0){ %}
		<div class="row">
		{% } %}
			<div class="col-sm-4 ">
				<div class="panel">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-6 col-md-5 col-sm-offset-1">
								<h4><a href="/courses/{%=ct.id%}">{%=ct.name%}</a></h4>
							</div>
							<div class="text-right" id="best_{%=ct.id%}">
								<h4></h4>
							</div>
						</div>
						{% print(printScore("涼度",ct.id,"cold",ct.cold),true); %}
						{% print(printScore("甜度",ct.id,"sweety",ct.sweety),true); %}
						{% print(printScore("深度",ct.id,"hardness",ct.hardness),true); %}
					</div>
				</div>
			</div>
			{% i+=1; %}
		{% if(i%3==0){ %}
			</div>
		{% } %}
	{% } %}
	
{% if(i%3!=0){ %}
	</div>
{% } %}


</script>





