<br>
<div id="srch_and_schd" class="" style="background-color:rgba(221,221,221,0.8)">
</div>
<br>

<script>
$(document).ready(function(){
	$("#add_sem_form").hide();
	$("#srch_and_schd").load("/courses/get_user_simulated?sem_id=<%=latest_semester.id%>");
	
});
</script>