<ul class="nav nav-tabs " id="sem_selector">
	<li class="sem_tab active" id="sem_<%=latest_semester.id%>"><a href="javascript:void(0);" onclick="change_sem(<%=latest_semester.id%>);"><%=latest_semester.name%></a></li>
	<!--<li class="" id="add_sem"><a href="javascript:void(0);" onclick="show_add_form()">新增學期</a></li>-->
	<!--<li class="" id="show_statics"><a href="javascript:void(0);" onclick="show_statics()">統計</a></li>-->
	<!--<span class="glyphicon glyphicon-question-sign clickable-hover pull-right" style="color:green !important; "onclick="show_tip('simulation_tips')"></span>-->
</ul>

<br>
<div id="srch_and_schd" class="" style="background-color:rgba(221,221,221,0.8)">
</div>
<script>
$(document).ready(function(){
	$("#add_sem_form").hide();
	$("#srch_and_schd").load("/courses/get_user_simulated?sem_id=<%=latest_semester.id%>");
	
});
</script>