<%= render :partial=>"search_js" %>

<div class="row">
	
	<!--<div class="col-md-5" style="/*background-color:white;margin-top:50px;*/">-->
		<div class="tabbable tabs-left col-md-5">
			
			<ul class="nav nav-tabs" style="margin-top:50px;">
				<li class="active"><a href="#a" data-toggle="tab" >查詢</a></li>
				<li><a href="#b" data-toggle="tab">已選</a></li>

			</ul>
			
			<!--<div class="container">-->
			<div class="tab-content" style="overflow:hidden;">
			 <div class="tab-pane active" id="a">
					<div class="panel panel-primary ">
						<div class="panel-heading">
							<h4 class="text-center">課程查詢</h4>
						</div>
						<div class="panel-body">
							<div class="row schedule-search-bar">
								<%= render :partial=> "schd_search_bar" %>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="b">
					<div class="panel panel-primary" >
						<div class="panel-heading" >
							<h4 class="text-center">已選課程</h4>
						</div>
						<div class="panel-body" style="min-height:400px;">
							<div id="has_seleted_courses"></div>
						</div>
					</div>
				</div>

			</div>

		</div>
		
	<div class="col-md-6 " id="user_schedule">
		
	</div>
</div>
<script>


$(document).ready(function(){
	<% if current_user %>
		$("#has_seleted_courses").load("/courses/get_user_courses?sem_id=<%=@sem_id%>&type=list");
		$("#user_schedule").load("/courses/get_user_courses?sem_id=<%=@sem_id%>&type=schd");
	<% end %>
	
});


</script>