<script>

	function toggleGroup(obj,id){
		//$(".group-"+id).toggle(600);
		//$("#course-list-"+id).find(".fa-plus").toggleClass("fa-minus");
		var target=$(".group-"+id);
		target.toggle(600,function(){
			if(target.is(":visible")){
				obj.find(".fa-plus").toggleClass("fa-minus fa-plus");
			}
			else{
				
				obj.find(".fa-minus").toggleClass("fa-minus fa-plus");
			}
		});
	}
</script>

<script type="text/x-tmpl" id="table-format">

<h4 id="tips-area"></h4>
{% grades = [["*","*"], [1,"大一"], [2,"大二"], [3,"大三"], [4,"大四"]] ; %}
{% halfs = [["*","*"], [1,"上"], [2,"下"]] ; %}
<table class="table course-table">
	<thead>
		<tr class="row">
			<th class="col-md-1"></th>
			<th class="col-md-2">課名</th>
			<th class="col-md-1">永久課號</th>
			<th class="col-md-2">開課系所</th>
			<th class="col-md-1">學分</th>
			<th class="col-md-2">建議學期</th>
			<th class="col-md-1">是否採計學分</th>
			<th class="col-md-1">動作</th>
		</tr>
	</thead>
	<tbody>
		{% if (o.length > 0){ %}
			{% for(var i=0 ; i<o.length ; i++){ %}
				{% var list = o[i] ;%}
				{% if(list.group){ %}
					<tr class="row zopl" list_id="{%=list.id%}" style="background-color:#BBFFEE;" gtype="{%=list.group.gtype%}" cg-id="{%=list.cg_id%}"  >
				{% }else{ %}
					<tr class="row" list_id="{%=list.id%}" >
				{% } %}
					<td class="">
						{% if(list.group){ %}
							<span class="gtype">{%= list.group.gtype == 0 ? "[代]" : "[抵]" %}</span>
							<%=fa_icon 'plus',:class=>"text-color-green clickable-hover",:onclick=>"toggleGroup($(this),{%=list.id%});"%>
						{% } %}
					</td>
					<td class="course_name">
						{%=list.course_name %}
					</td>
					<td class="">{%=list.real_id %}</td>
					<td class="">{%=list.dept_name %}</td>
					<td class="">{%=list.credit %}</td>
					<td class="">
						<select class="grade-select">
							{% for(var j=0; j<grades.length; ++j){ %}
								{% grade = grades[j] ;%}
								<option value="{%=grade[0]%}" {% if(list.grade==grade[0]){ %}selected="selected"{% } %}>
								{%=grade[1]%}
								</option>
							{% } %}			
						</select>
						<select class="half-select">
							{% for(var j=0; j<halfs.length; ++j){ %}
								{% half = halfs[j] ;%}
								<option value="{%=half[0]%}" {% if(list.half==half[0]){ %}selected="selected"{% } %}>
								{%=half[1]%}
								</option>
							{% } %}		
						</select>
					</td>
					<td class="col-md-2">
						{% if(list.record_type==1){ %}
							<%=fa_icon 'check', :class=>'text-color-green course-update clickable-hover', :rtype=>1%>
						{% }else{ %}
							<%=fa_icon 'times', :class=>'text-color-red course-update  clickable-hover', :rtype=>0%>
						{% } %}
					</td>
					<td class="col-md-2">
						<%=fa_icon "trash-o","data-toggle"=>"popover", "data-content"=>"刪除", :class=>"text-color-red clickable-hover course-delete"%>
						<%=fa_icon "share-alt","data-toggle"=>"popover", "data-content"=>"加入群組課程", :class=>"text-color-green clickable-hover add-course-group"%>
						<%=fa_icon "arrows-h","data-toggle"=>"popover", "data-content"=>"代表/抵免", :class=>"text-color-blue clickable-hover switch-gtype"%>
					</td>
				</tr>
				{% if(list.group){ %}
					{% for(var j=0 ; j<list.group.courses.length ; j++){ %}
						{% var group_item = list.group.courses[j] ; %}
						<tr class="row group-{%=list.id%} " cg_id="{%=group_item.cg_id%}" list_id="{%=group_item.id%}" style="display:none;background-color:#99FFFF;" >
							<td class="">
								<%=fa_icon "angle-right"%>
							</td>
							<td class="">
								{%=group_item.course_name %}
							</td>
							<td class="">{%=group_item.real_id %}</td>
							<td class="">{%=group_item.dept_name %}</td>
							<td class="">{%=group_item.credit %}</td>
							<td class=""></td>
							<td class=""></td>
							<td class="">
								<%=fa_icon "trash-o","data-toggle"=>"popover", "data-content"=>"刪除", :class=>"text-color-red clickable-hover cg-list-item-delete"%>
								<%=fa_icon "flag","data-toggle"=>"popover", "data-content"=>"設為代表", :class=>"text-color-blue clickable-hover cg-list-item-to-head"%>
							</td>
						</tr>
					{% } %}
				{% } %}
			{% } %}	
		{% }else{ %}
	
		<tr class="row">
			<td colspan="3"><p class="text-right">嘗試從左側搜尋加入課程</p></td>
		</tr>
		{% } %}
	</tbody>
</table>

</script>