@import "jquery.ui.core"; // you always want that stylesheet
@import "jquery.ui.theme";
@import "jquery.ui.datepicker"; // import all the modules you need

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bg-color";
@import "book";
@import "bootstrap-switch.min";
@import "bootstrap-treeview";
@import "course";
@import "course_maps";
@import "discuss";
@import "dropdown";

@import "header";
@import "joyride-2.1";

@import "layout";
@import "scroll-sidebar";
@import "toastr";
@import "upload";
@import "font-awesome";
@import "jquery.fileupload-ui";
@import "animate.min";
@import "bar-rating";
