
.bg-fb{
	background-color:#4c66a4;
	color: white;
}

.bg-white{
	background-color:white;
}

.bg-white-transparent{
	background-color:white;
	opacity:0.75;
	zoom:1;
}

.bg-grey{
	background-color: #BDBDBD  ;
}