// Place all the styles related to the course_groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
.btn-layer1 {
 color: #fff;
 background-color: #0000FF; 
 border-color: #0000FF; 
}

.cos-color {
	color : #000 ;
}

.btn-layer2 {
 color: #fff;
 background-color: #00BFFF; 
 border-color: #00BFFF; 
}

input
{
	border-radius:10px;
	border:#00BBFF 2px solid;
	padding-top:3px;
	padding-bottom:3px;
}


.btn-selected {
border-color: #FFFF00;
border-width: 2px;
}

.nav-tabs > li > a {
color : #000 ;
margin-right: 2px;
line-height: 1.428571429;
border: 1px solid transparent;
border-radius: 4px 4px 0 0;
background-color: #FFFFFF;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
color: #F8CCCC;
cursor: default;
background-color: #C04E57;
border: 1px solid #ddd;
border-bottom-color: transparent;
}
*/

table
{
	line-height:120%;
}