// Place all the styles related to the course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-common{
	background-color:#F0AD4E;
}
	
.course-elective{
	background-color:#AFFFD8;
}
.course-foreign{
	background-color:#FEFFCD;
}
.course-required{
	background-color:#AFFFB0;
}

.course-tag{
  color:white;
}
.course-tag:hover {color:white;}

.tabs-below, .tabs-right, .tabs-left {
  .nav-tabs {
    border-bottom: 0;
  }
}
 
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
 
.tab-content > .active,
.pill-content > .active {
  display: block;
}
 
.tabs-below {
  > .nav-tabs {
    border-top: 1px solid #ddd;
 
    > li {
      margin-top: -1px;
      margin-bottom: 0;
 
      > a {
        -webkit-border-radius: 0 0 4px 4px;
           -moz-border-radius: 0 0 4px 4px;
                border-radius: 0 0 4px 4px;
 
        &:hover, &:focus {
          border-top-color: #ddd;
          border-bottom-color: transparent;
        }
      }
    }
    > .active a {
      &, &:hover, &:focus {
        border-color: transparent #ddd #ddd #ddd;
      }
    }
  }
}
 
.tabs-left, .tabs-right {
  > .nav-tabs > li {
    float: none;
 
    > a {
      min-width: 74px;
      margin-right: 0;
      margin-bottom: 3px;
    }
  }
}
 
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 0px;
  border-right: 1px solid #ddd;
 
  > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
 
    &:hover, &:focus {
      border-color: #eee #ddd #eee #eee;
    }
  }
 
  > .active a {
    &, &:hover, &:focus {
      border-color: #ddd transparent #ddd #ddd;
      *border-right-color: #fff;
    }
  }
}
 
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
 
  > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
 
    &:hover, &:focus {
      border-color: #eee #eee #eee #ddd;
    }
  }
 
  > .active a {
    &, &:hover, &:focus {
      border-color: #ddd #ddd #ddd transparent;
      *border-left-color: #fff;
    }
  }
}

.schedule-grid{
	height :50px;
}

.schd-slot-empty{
	//height :50px;
	background-color:white;
}

.schd-grid-selected{
	border: 2px solid #428bca !important;
	#border-color:#428bca !important;
}

.common-tag{
	background-color:#eeeeee;
	padding-top : 2px;
	padding-bottom: 2px;
	padding-left : 3px;
	padding-right : 3px;
	//min-width:700px;
	//height:30px;
	text-align:center;
	
	border-style:solid;
	border-width:3;
	border-color:#ffffff;
	min-height:24px;
	min-width:30px ;
	display: inline-block;
}
