// Place all the styles related to the course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//for discuss like and dislike

.like-count{
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
}
.like{
	color:green;
}
.dislike{
	color:red;
}
//for course_list and statics common course dimension grid color
.dimension-world{
	background-color:#E353E1;
}
.dimension-culture{
	background-color:#E1E353;
}
.dimension-youandme{
	background-color:#9D53E3;
}
.dimension-civil{
	background-color:#E35553;
}
.dimension-nature{
	background-color:#99E353;
}
.dimension-history{
	background-color:#E39D53;
}

//for course_list and schdule grid color
.course-common-required{
	background-color:#AFFFD8;
}
.course-common-elective{
	background-color:#B0AFFF;
}
.course-general{
	background-color:#F0AD4E;
}
.course-elective{
	background-color:#AFD6FF;
}
.course-foreign{
	background-color:#FEFFCD;
}
.course-required{
	background-color:#AFFFB0;
}



.course-tag{
  color:white;
}
.course-tag:hover {color:white;}

.tabs-below, .tabs-right, .tabs-left {
  .nav-tabs {
    border-bottom: 0;
  }
}
 
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
 
.tab-content > .active,
.pill-content > .active {
  display: block;
}
 
.tabs-below {
  > .nav-tabs {
    border-top: 1px solid #ddd;
 
    > li {
      margin-top: -1px;
      margin-bottom: 0;
 
      > a {
        -webkit-border-radius: 0 0 4px 4px;
           -moz-border-radius: 0 0 4px 4px;
                border-radius: 0 0 4px 4px;
 
        &:hover, &:focus {
          border-top-color: #ddd;
          border-bottom-color: transparent;
        }
      }
    }
    > .active a {
      &, &:hover, &:focus {
        border-color: transparent #ddd #ddd #ddd;
      }
    }
  }
}
 
.tabs-left, .tabs-right {
  > .nav-tabs > li {
    float: none;
 
    > a {
      min-width: 74px;
      margin-right: 0;
      margin-bottom: 3px;
    }
  }
}
 
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 0px;
  border-right: 1px solid #ddd;
 
  > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
 
    &:hover, &:focus {
      border-color: #eee #ddd #eee #eee;
    }
  }
 
  > .active a {
    &, &:hover, &:focus {
      border-color: #ddd transparent #ddd #ddd;
      *border-right-color: #fff;
    }
  }
}
 
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
 
  > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
 
    &:hover, &:focus {
      border-color: #eee #eee #eee #ddd;
    }
  }
 
  > .active a {
    &, &:hover, &:focus {
      border-color: #ddd #ddd #ddd transparent;
      *border-left-color: #fff;
    }
  }
}

.schedule-grid{
	height :50px;
}

.schd-slot-empty{
	//height :50px;
	background-color:white;
}

.schd-grid-selected{
	border: 2px solid #428bca !important;
	#border-color:#428bca !important;
}

.common-tag{
	background-color:#eeeeee;
	padding-top : 2px;
	padding-bottom: 2px;
	padding-left : 3px;
	padding-right : 3px;
	//min-width:700px;
	//height:30px;
	text-align:center;
	
	border-style:solid;
	border-width:3;
	border-color:#ffffff;
	min-height:24px;
	min-width:30px ;
	display: inline-block;
}
//for search
.cleaninput{
	position :absolute;
    float:left;
    margin-top:-10px;
    margin-left:-10px;
    cursor:pointer;
    color: #fff;
    //border: 1px solid #AEAEAE;
    border-radius: 15px;
    background-color: rgba(91,192,222,0.7);
    font-size: 15px;
    font-weight: bold;
    //display: inline-block;
		padding-left:4px;
    height: 20px;
		width:20px;
		z-index:1000;
    //padding: 11px 3px;       
}

