body
{	
	
	//width:800px;
	height: 100%;
	//text-align:center;
	//padding-left:10%;
	//padding-right:10%;
    //padding-top: 60px;
    //background-color: black;
}	
a:hover{
text-decoration:none;
}
.sidebar{
	//padding-top:200px;
	//max-width:250px;
}
.maincontent{
  //width :800px;
  //position :relative;
  //left :500px;
  //top : 100px;
}
.searchstyle{
  width :400px;
}