

body{	
	font-family :Noto Sans T Chinese Medium ,Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif;
	height: 100%;
}	


.no-padding-left{
	padding-left:0px;
}
.no-padding-top{
	padding-top:0px;
}
.no-padding-bottom{
	padding-bottom:0px;
}
.no-padding-right{
	padding-right:0px;
}

.no-margin-left{
	margin-left:0px;
}
.no-margin-right{
	margin-right:0px;
}
.no-margin-top{
	margin-top:0px;
}
.no-margin-bottom{
	margin-bottom:0px ;
}

textcontent{
	white-space: pre-line;
	font-size:16px;
}


p.footer-text{
	margin-top:10px;
	margin-bottom:0px;
}


a:hover{
	text-decoration:none;
}

.course-clean{
	position:absolute;
	top: -7px;
	right: -2px;
}

.pos-relative{
	position:relative;
}


.ui-autocomplete { position: absolute; cursor: default;z-index:2000 !important;}  

.row-condensed{
	padding-left:0 !important;
	padding-right:0 !important;
}


.clickable-hover {
	cursor: pointer;
}
.scrollable{
	height :600px;
	overflow-y :scroll;
}



.ptt-style{
	background-color: black  ;
	color: #DBA901;
}

.text-color-white{
	color: white;
}
.text-color-black{
	color: black;
}
.text-color-blue{
	color: blue;
}
.text-color-red{
	color: red;
}
.text-color-yellow{
	color: yellow;
}
.text-color-dyellow{
	color: #FACC2E;
}
.text-color-green{
	color: green;
}


.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
}

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.sub-discussion {
	padding: 20px;
	margin-top: 20px ;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
	border-left-color: #5bc0de;
}

.border-info{
	border-top-color: #5bc0de;
	border-bottom-color: #5bc0de;
	border-right-color: #5bc0de;
}


.bs-callout-info {
	border-left-color: #5bc0de;
}
.bs-callout-warning {
	border-left-color: #FFFF00;
}
.bs-callout-success {
	border-left-color: #5cb85c;
}
.bs-callout-default {
	border-left-color: #999;
}
.bs-callout-danger {
	border-left-color: #d9534f;
}

.schedule-search-bar{	/*to be fixed*/
	margin-right:0;
	margin-left:0;
}

img.header{
	min-width:1280px;
	width : 100%;
	position: fixed;
	min-height: 900px;
	height :100%;
	transform: translate3d(0,0,0);
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1280px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}



.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}