

body
{	
	font-family :Noto Sans T Chinese Medium ,Microsoft JhengHei;
	//color :white;
	//width:800px;
	height: 100%;
	//text-align:center;
	//padding-left:10%;
	//padding-right:10%;
    //padding-top: 60px;
  //background-color: #eeeeee;
}	

.fb-bg-color{
	background-color:#4c66a4;
}

.no-padding-left{
	padding-left:0px;
}
.no-padding-right{
	padding-right:0px;
}

.no-margin-left{
	margin-left:0px;
}
.no-padding-right{
	padding-right:0px;
}

textcontent{
	white-space: pre-line;
	font-size:16px;
}

.max-z{
	z-index:50000;
}
.toolTipText {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#161616;
	border-radius:5px;
	padding:10px;
	color:#fff;
	//font-size:12px Arial;
	
}

p.footer-text{
	margin-top:10px;
	margin-bottom:0px;
}


a.back-to-prev{
	color:white;
	font-size:20px;
}

a.back-to-prev:hover{
	font-weight:bold;
	text-decoration:none;
}


a:hover{
	text-decoration:none;
	
}


.user-reg {
    width: 280px !important;
		padding-left :30px;
		z-index :0 !important;
    //height: 400px !important;
}

.ui-autocomplete { position: absolute; cursor: default;z-index:2000 !important;}  

.row-condensed{
	padding-left:0 !important;
	padding-right:0 !important;
}


.clickable-hover/*>tbody>tr*/ {
	cursor: pointer;
}
.scrollable{
	height :600px;
	overflow-y :scroll;
}
 
 
.test{
background-color: black  ; 
} 
 
.global-background-color{  
	background-color: rgba(255,255,255,0.8); 
	//opacity :0.75
}

.global-background-color2{  
	background-color: #eeeeee;
	//opacity :0.75
}

.ptt-style{
	background-color: black  ;
	color: #DBA901;
}
.backgorund-color-grey{
	background-color: #BDBDBD  ;
}
.text-color-white{
	color: white;
}
.text-color-red{
	color: red;
}
.text-color-yellow{
	color: yellow;
}
.text-color-green{
	color: green;
}

#rank-icon{
//	position: absolution ;	
}
#teacher-name{
//	position: absolution ;
}


.number-right-top {

	width: 20px;
	height: 20px;
	//padding: 6px 0;
	border-radius: 10px;
	text-align: center;
	font-size: 10px;
	padding-top:1px;
	background-color:#5599FF;
	color:white;
	display:inline-block;
	z-index:100;
	position:relative;
	left:-5px;
	top:-20px;
	font-weight:bold;
	//line-height: 1.428571429;
}


.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	//line-height: 1.428571429;
}

.bs-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.sub-discussion {
	padding: 20px;
	margin-top: 20px ;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
	border-left-color: #5bc0de;
}

.test{
//box-shadow:1px 1px 2px rgba(100%,0%,0%,0.4),1px -1px 2px rgba(0%,100%,0%,0.4),3px 4px 2px rgba(0%,0%,100%,0.4);
}

.bs-callout-info {
	border-left-color: #5bc0de;
}
.bs-callout-warning {
	border-left-color: #FFFF00;
}
.bs-callout-success {
	border-left-color: #5cb85c;
}
.bs-callout-default {
	border-left-color: #999;
}
.bs-callout-danger {
	border-left-color: #d9534f;
}

.schedule-search-bar{
	margin-right:0;
	margin-left:0;
}

img.header{
	min-width:1280px;
	width : 100%;
	position: fixed;
	min-height: 900px;
	height :100%;
	//padding-right:0px;
  //top: 0;
  //left: 0;
	//z-index : 10;
}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1280px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.bg-white-transparent{
	background-color:white;
	opacity:0.75;
	zoom:1;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
}