.element {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	width: 150px;
	height: 130px;
	background: #ebebeb;
	border: 1px solid #ccc;
	margin: 10px;
	position: relative;
}
.element {
    *display: inline;
}
.horiz-flag {
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
	-o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9fbfdc), color-stop(100%, #3c74a6));
	background-image: -webkit-linear-gradient(#9fbfdc, #3c74a6);
	background-image: -moz-linear-gradient(#9fbfdc, #3c74a6);
	background-image: -o-linear-gradient(#9fbfdc, #3c74a6);
	background-image: -ms-linear-gradient(#9fbfdc, #3c74a6);
	background-image: linear-gradient(#9fbfdc, #3c74a6);
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	height: 40px;
	line-height: 40px;
	position: absolute;
	padding-right: 40px;
	left: 13px;
	padding-left: 10px;
	top: 50px;
	color: #eee;
}
.horiz-flag {
  *display: inline;
}
.horiz-flag:before {
	content: " ";
	display: block;
	height: 0;
	width: 0;
	border-style: solid;
	border-width: 20px;
	border-color: transparent;
	border-right-color: #ffffff;
	position: absolute;
	right: -1px;
	top: 0;
}

.vert-flag {
    -moz-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 1px 0 1px rgba(0, 0, 0, 0.35);
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.35);
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e72929), color-stop(100%, #6b0c0c));
    background-image: -webkit-linear-gradient(#e72929, #6b0c0c);
    background-image: -moz-linear-gradient(#e72929, #6b0c0c);
    background-image: -o-linear-gradient(#e72929, #6b0c0c);
    background-image: -ms-linear-gradient(#e72929, #6b0c0c);
    background-image: linear-gradient(#e72929, #6b0c0c);
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    text-align: center;
    width: 50px;
    position: absolute;
    padding-bottom: 50px;
    top: -2px;
    padding-top: 10px;
    left: 10px;
    color: #fff;
}
.vert-flag {
    *display: inline;
}
.vert-flag:before {
    content: " ";
    display: block;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 25px;
    border-color: transparent;
    left: 0;
    border-bottom-color: #ebebeb;
    position: absolute;
    bottom: -1px;
}