<div class="panel-heading">
	<h2>教授比一比</h2>
</div>
<div id="copare_container"></div>

<script>
	$(document).ready(function(){
		var ctCopare=<%=@ct_compare_json.to_json.html_safe%>;
		var userCtRated=<%=@user_rated_json.to_json.html_safe%>;
		$("#copare_container").html(tmpl("compare_tmpl",ctCopare));
		for(var i=0,ct,userRated;ct=ctCopare[i],userRated=userCtRated[i];i++){
			gen_raty("rating_cold"+'_'+ct.id,ct.id,"cold",ct.cold.avg_score,userRated.cold); 
			gen_raty("rating_sweety"+'_'+ct.id,ct.id,"sweety",ct.sweety.avg_score,userRated.sweety); 
			gen_raty("rating_hardness"+'_'+ct.id,ct.id,"hardness",ct.hardness.avg_score,userRated.hardness); 
		}
	});
	
	function printScore(_text,_id,_r_type,_rate){
		var data={
			text:_text,
			id:_id,
			r_type:_r_type,
			rate:_rate
		};
		return tmpl("point-tmpl",data);
	}
</script>

<script type="text/x-tmpl" id="compare_tmpl">
	{% var i=0,ct; %}
	{% for(;ct=o[i];){ %}
		{% if(i%3==0){ %}
		<div class="row no-margin-left no-margin-right">
		{% } %}
			<div class="col-sm-4 ">
				<div class="well">
					<div class="panel-bod">
						<div class="row">
							<div class="col-sm-12 col-md-12">
								<h4><a href="/courses/{%=ct.cd_id%}">{%=ct.name%}</a></h4>
							</div>
							<div class="text-right" id="best_{%=ct.id%}">
								<h4></h4>
							</div>
						</div>
						{% print(printScore("涼度",ct.id,"cold",ct.cold),true); %}
						{% print(printScore("甜度",ct.id,"sweety",ct.sweety),true); %}
						{% print(printScore("深度",ct.id,"hardness",ct.hardness),true); %}
					</div>
				</div>
			</div>
			{% i+=1; %}
		{% if(i%3==0){ %}
			</div>
		{% } %}
	{% } %}
{% if(i%3!=0){ %}
	</div>
{% } %}
</script>

<script type="text/x-tmpl" id="point-tmpl">
	<div class="row">
		<div class="col-sm-2 col-sm-offset-1 row-condensed">
			<label>{%=o.text%}</label>
		</div>
		<div class="col-sm-7 row-condensed">
			<select id="rating_{%=o.r_type%}_{%=o.id%}">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>		
		</div>
		<div class="col-sm-1 row-condensed" id="rating_{%=o.r_type%}_{%=o.id%}_counts">
			<label>{%=o.rate.avg_score%}({%=o.rate.rate_count.toString()%})</label>
			</div>
		</div>
</script>



