<style>
</style>

<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <br>
  <div class="row">
  <div class="col-md-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Go!</button>
      </span>
    </div>
    <br>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">畢業</div>
      <ul class="list-group">
        <li href="#" class="list-group-item">準時</li>
        <li href="#" class="list-group-item">不準時</li>
      </ul>
     </div>
     
     <div class="panel panel-default">
      <div class="panel-heading">氣氛</div>
      <ul class="list-group">
        <li href="#" class="list-group-item">熱情</li>
        <li href="#" class="list-group-item">冷漠</li>
        <li href="#" class="list-group-item">平淡</li>
      </ul>
    </div>

  </div>
  <div class="col-md-9">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>教授</th>
          <th>準時畢業</th>
          <th>氣氛</th>
          <th>心得</th>
          <th>回應時間</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    </div>
  </div>

</body>


</html>

