<script type="text/x-tmpl" id="content-lists">
<table class="table content-list-table">
{% if(o.length>0){ %}
	{% for(var i=0, list; list=o[i]; i++){ %}
		{% include("content-list-cell", list);%}
	{% } %}
{% } %}	
	<tr class="new-list" style="display: none;">
		<td>
			<%= select_tag :list_type, options_for_select([["[考試]",1],["[作業]",2],["[上課]",3],["[其他]",4]],"[考試]"), :class=>"form-control" %>
		</td>
		<td>
			<span class="col-sm-10"><%=text_field_tag :list_content, "", :maxlength=>"32", :class=>"form-control"%></span>
			<span class="col-sm-2" date="1990/10/25 10:10">		
				<div class="btn btn-success btn-circle new-list-submit"><i class="fa fa-check"></i></div>
			</span>
		</td>
	</tr>
</table>   
<p class="text-center no-data"><strong>尚無資料</strong></p>
</script>

<script type="text/x-tmpl" id="content-list-cell">
<tr id="{%=o.id%}">
	<td id="{%=o.content_type.id%}">{%=o.content_type.name%}</td>
	<td>
		<span class="col-sm-6">{%=o.content%}</span>
		<span class="col-sm-4" date="{%=o.time %}">{%=o.time %} {%=o.user_name%}</span>
		<span class="col-sm-2 rank" voted="{%=o.rank_info.voted%}" {%if(o.new){ %} style="display:none;"  {% } %}>
			<i class="fa fa-thumbs-o-up clickable-hover rank-edit" id="1"></i> 
			<span style="color:green;">{%=o.rank_info.likes%}</span>
			&nbsp;&nbsp;&nbsp;&nbsp;  
			<i class="fa fa-thumbs-o-down clickable-hover rank-edit" id="2"></i> 
			<span style="color:red;">{%=o.rank_info.unlikes%}</span>
		</span>
		<span class="col-sm-2 edit-options" {%if(!o.new){ %}style="display:none;"{% } %}>
		{% if(o.is_my){ %}
			<div class="btn btn-warning btn-circle list-edit"><i class="fa fa-pencil"></i></div>
			<div class="btn btn-danger btn-circle list-delete"><i class="fa fa-trash-o"></i></div>
		{% } %}
		</span>
	</td>
</tr>
</script>