<div class="navbar navbar-inverse navbar-fixed-bottom hidden-xs hidden-sm" style="min-height:35px;">
	<div class="container" >
		<p class="navbar-text pull-left footer-text">© 2014 NCTU<sup>+</sup><!--交大網頁及系統優化小組-->

		<a href="/main/member_intro" rel="nofollow">關於我們</a>
		<a href="https://www.facebook.com/nctuplus" style="margin-left:10px;" target="_blank">Contact Us</a>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建議使用Chrome或FireFox瀏覽本站
		
		</p>
		
		<p class="navbar-text pull-right footer-text" >
			<iframe allowTransparency="true" style="margin-bottom:-2px;overflow:hidden" width="90" height="20" frameborder="0" src='http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fnctuplus&width&layout=button_count&action=like&show_faces=false&share=false&height=21&appId=309270975792981&kid-directed-site=true'></iframe>
		</p>

	</div>
</div>




